@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Single+Day&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=New+Amsterdam&family=Single+Day&display=swap');
@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee+Tint&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=New+Amsterdam&family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Concert+One&family=Gugi&family=Jua&display=swap');

:root {
	/* --sz: 10vmin; */
    --sz: 3vmin;
	--on: #FF9800;
	--off: #243747;
	--bg: linear-gradient(135deg, #17212f, #11151e);
	--tr: all 0.5s ease 0s;
	--elastic: linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%);
}	

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	transition: var(--tr);
	animation-play-state: paused;
}

body {
    perspective: 750px;
    height: 100vh;
    width: 100vw;
    background: #292f4c;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	
}

/* body:before, body:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: 
		repeating-conic-gradient(#0002 0.000095%, #fff0 .0005%, #fff0 .005%, #fff0 .0005%), 
		repeating-conic-gradient(#0002 0.00001%, #fff0 .00009%, #fff0 .00075%, #fff0 .000025%);
	opacity: 0.75;
	filter: blur(0.75px);
} */




article {
    --color: #fff;
    --border: #0008;
    --angle: 0deg;
    /* background:
        linear-gradient(#fff 64.75%, #0000 0),

        url('#') 50% 65% / 200% 200%; */
    background: transparent;
    border-radius: 0.75vmin;
    box-shadow: 0 8vmin 5vmin -5vmin #0005;
    font-family: "Concert One", sans-serif;

    /* font-family: Roboto, Helvetica, Arial, sans-serif; */
    height: 70vmin;
    left: calc(50% - 25vmin);
    position: absolute;
    /* top: calc(50% - 35vmin); */
    top:15vh;
    transform: rotate3d(1, 0, 0, var(--angle));
    transform-origin: 50% 70%;
    transform-style: preserve-3d;
    transition: transform 0.5s, box-shadow 0.5s;
    width: 50vmin;

    *:focus {
        outline: 1px dashed;
        outline-offset: 2px;
    }

    &>div {
        background: url('#') 50% 65% / 200% 200%;
        border-radius: 0.75vmin;
        box-sizing: border-box;
        clip-path: polygon(0 0, 100% 0%, 100% 65%, 0% 65%);
        height: 100%;
        left: 0;
        padding: 3vmin;
        position: absolute;
        top: 0;
        transform-origin: 50% 65%;
        transform: rotate3d(1, 0, 0, 0deg);
        transition: transform 0.5s;
        width: 100%;

        h1,
        p {
            color: var(--color);
            font-size: 3vmin;
            letter-spacing: 0.5px;
            margin: 0;
            text-align: center;
            text-shadow:
                1px 0 var(--border), 1px 1px var(--border),
                0 1px var(--border), -1px 1px var(--border),
                -1px 0 var(--border), -1px -1px var(--border),
                0 -1px var(--border), 1px -1px var(--border);
            text-transform: uppercase;
        }

        p {
            margin-top: 1vmin;
            font-size: 1.75vmin;
            font-family: "Jua", sans-serif;
            color: rgb(95, 97, 109);
        }
    }

    &>ul {
        display: flex;
        height: 4vmin;
        justify-content: space-between;
        left: 50%;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: calc(92.5% - 4vmin);
        transform: translateX(-50%);
        transform-style: preserve-3d;
        width: 85%;

        &::after {
            background: linear-gradient(#8082, #0002);
            border-top: 1px dashed #f0f;
            bottom: 50%;
            content: "Max";
            font-size: 1.25vmin;
            height: 0;
            left: -5%;
            opacity: 0;
            position: absolute;
            text-indent: -8vmin;
            transform: rotate3d(1, 0, 0, -90deg);
            transform-origin: bottom center;
            width: 110%;
        }

        /* 감정별 색상 지정 */
        li[data-emotion="분노"] {
          background-color: #f2756f; /* 빨강 */
          --emotion-color: #f2756f;
        }

        li[data-emotion="두려움"] {
          background-color: #ddccf4; /* 보라 */
          --emotion-color:#ddccf4;
        }

        li[data-emotion="불안"] {
          background-color: #fcd671; /* 노랑 */
          --emotion-color:#fcd671;
        }

        li[data-emotion="기쁨"] {
          background-color: #a7e9b1; /* 초록 */
          --emotion-color: #a7e9b1; /* 초록 */
        }

        li[data-emotion="슬픔"] {
          background-color: #8fdee3; /* 파랑 */
          --emotion-color: #8fdee3; /* 파랑 */
        }

        li {
            --height: 0;
            --colorDeg: min(calc(90deg * var(--steps) / 10000), 90deg);
            background: hsl(var(--colorDeg), 48%, 50%);
            box-shadow: inset 0 0 0 2px #0005;
            color: var(--color);
            display: flex;
            font: bold 2.5vmin/4vmin Helvetica, Arial, sans-serif;
            height: 4vmin;
            justify-content: center;
            text-transform: uppercase;
            transform: translate3d(0, 0, var(--height));
            transform-style: preserve-3d;
            transition: transform 0.5s;
            width: 4vmin;

            &:focus,
            &:hover {
                &::after {
                    background: #ffd;
                    bottom: calc(4vmin + 4px);
                    clip-path: polygon(0 0, 100% 0, 100% 80%, 60% 80%, 50% 95%, 40% 80%, 0 80%);
                    color: black;
                    content: counter(numSteps);
                    counter-reset: numSteps var(--steps);
                    display: block;
                    font-size: 2vmin;
                    height: 5vmin;
                    line-height: 4vmin;
                    padding: 0 1vmin;
                    position: absolute;
                }
            }

            /* 감정에 따라 동적으로 내용 설정 */
            &[data-emotion="분노"] b::after {
                content: "분노";
            }

            &[data-emotion="기쁨"] b::after {
                content: "기쁨";
            }

            &[data-emotion="슬픔"] b::after {
                content: "슬픔";
            }

            &[data-emotion="두려움"] b::after {
                content: "두려움";
                
            }

            &[data-emotion="불안"] b::after {
                content: "불안";
            }

            /* 차트 글씨체 */


            b {
                font-size: 0;
                font-family: "Jua", sans-serif;
                transform-style: preserve-3d;
                position: absolute;
                left: 0;
                text-align: center;

                &:after {
                    display: block;
                    font-size: 1.5vmin;
                    height: 100%;
                    left: 0;
                    line-height: 4vmin;
                    position: absolute;
                    text-shadow:
                        1px 0 var(--border), 1px 1px var(--border),
                        0 1px var(--border), -1px 1px var(--border),
                        -1px 0 var(--border), -1px -1px var(--border),
                        0 -1px var(--border), 1px -1px var(--border);
                    top: 0;
                    transform-origin: center bottom;
                    transition: transform 0.5s;
                    width: 4vmin;

                }

                &::before {
                    background: #0004;
                    bottom: 4vmin;
                    content: "";
                    display: block;
                    filter: blur(0.5vmin);
                    height: var(--height);
                    left: 0;
                    position: absolute;
                    transform: translate3d(0, 0, calc(-1 * var(--height)));
                    width: 4vmin;
                }
            }

            div {
              background: var(--emotion-color);
                box-shadow: inset 0 0 0 1px #0002;
                color: hsl(var(--colorDeg), 48%, 30%);
                font-size: 0;
                height: var(--height);
                left: 0;
                position: absolute;
                top: 100%;
                transform: rotate3d(1, 0, 0, -90deg) rotate3d(0, 1, 0, -90deg);
                transform-origin: top right;
                transform-style: preserve-3d;
                transition: transform 0.5s;
                width: 100%;

                &::before,
                &::after {
                    align-items: center;
                    background: var(--emotion-color);
                    box-shadow: inset 0 0 0 1px #0002;
                    box-sizing: border-box;
                    color: hsl(var(--color), 48%, 20%);
                    content: counter(steps);
                    counter-reset: steps var(--steps);
                    display: flex;
                    font-size: 1.5vmin;
                    height: 100%;
                    justify-content: flex-start;
                    line-height: 4vmin;
                    overflow: hidden;
                    padding-top: 1vmin;
                    position: absolute;
                    top: 0;
                    transform: translate(100%, 0) rotate3d(0, -1, 0, 270deg) translate(-100%, 0);
                    transform-origin: top left;
                    width: 100%;
                    writing-mode: vertical-rl;
                }

                &::before {
                  background: var(--emotion-color);
                    content: "";
                    transform: translate3d(0, 0, 4vmin);
                    transform-origin: top right;
                }
            }
        }
    }

    &>button {
        background: #0004;
        border: 1px solid white;
        box-shadow: 0 0 0 2px #0004;
        color: #fff;
        font-size: 2vmin;
        left: 50%;
        outline-offset: 5px;
        padding: 1vmin 2vmin;
        position: absolute;
        text-transform: uppercase;
        top: 76%;
        transform: translate(-50%, 0);
        font-family: "Concert One", sans-serif;

        &:last-child {
            box-shadow: 0 0 0 2px #0004, 0 10vmin 5vmin #0002;
            opacity: 0;
            top: 105%;
            transform: translate3d(-50%, 3vmin, 2vmin) scale3d(0.7, 0.5, 0.8) rotate3d(1, 0, 0, -90deg);

            &:focus {
                outline-color: black;
            }
        }
    }

    &.active {
        --angle: 75deg;
        box-shadow: 0 25vmin 5vmin -10vmin #0003;
        font-family: "Jua", sans-serif;

        &>button {
            &:first-of-type {
                display: none;
            }

            &:last-of-type {
                opacity: 1;
                transition: opacity 1s;
                transition-delay: 3.5s;
            }
        }

        &>div {
            transform: rotate3d(1, 0, 0, -90deg);
            transition-delay: 0.75s;
        }

        &>ul {
            --transition-delay: 2s;
            --transition-duration: 1s;

            &::after {
                height: 20vmin;
                opacity: 1;
                transition: height 1s, opacity 1s;
                transition-delay: 3.25s;
                font-family: "Jua", sans-serif;
            }

            li {
                --height: calc(20vmin * var(--steps) / var(--max-steps)); 
                transition: transform var(--transition-duration);
                transition-delay: var(--transition-delay);
                font-family: "Jua", sans-serif;

                &:hover {
                    --colorDeg: 190deg;
                }

                &:focus {
                    --colorDeg: 190deg;
                    outline: none;

                    div {
                        &::after {
                            outline: 1px dashed white;
                            outline-offset: -3px;
                        }
                    }
                }

                &::after {
                    display: none;
                }

                b {
                    &::before {
                        transition:
                            background var(--transition-duration),
                            transform var(--transition-duration),
                            height var(--transition-duration);
                        transition-delay: var(--transition-delay);
                    }

                    &::after {
                        transform: rotate3d(1, 0, 0, -90deg);
                        transition-delay: 1.25s;
                    }
                }

                div {
                    transition:
                        transform var(--transition-duration),
                        height var(--transition-duration);
                    transition-delay: var(--transition-delay);
                }
            }
        }
    }
}



/* 두 번째 article css 시작 */

/* Styles for the second article */
.emotion-tracker-second {
    --color: #fff;
    --border: #0008;
    --angle: 0deg;
    background: transparent;
    border-radius: 0.75vmin;
    box-shadow: 0 8vmin 5vmin -5vmin #0005;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    height: 70vmin;
    left: calc(50% - 25vmin);
    position: absolute;
    top: 15vh;
    transform: rotate3d(1, 0, 0, var(--angle));
    transform-origin: 50% 70%;
    transform-style: preserve-3d;
    transition: transform 0.5s, box-shadow 0.5s;
    width: 50vmin;
}

.emotion-tracker-second *:focus {
    outline: 1px dashed;
    outline-offset: 2px;
}

.emotion-tracker-content-second {
    background: url('#') 50% 65% / 200% 200%;
    border-radius: 0.75vmin;
    box-sizing: border-box;
    clip-path: polygon(0 0, 100% 0%, 100% 65%, 0% 65%);
    height: 100%;
    left: 0;
    padding: 3vmin;
    position: absolute;
    top: 0;
    transform-origin: 50% 65%;
    transform: rotate3d(1, 0, 0, 0deg);
    transition: transform 0.5s;
    width: 100%;
}

.emotion-tracker-title-second,
.emotion-tracker-description-second {
    color: var(--color);
    font-size: 1.75vmin;
    letter-spacing: 0.5px;
    margin: 0;
    text-align: center;
    text-shadow:
        1px 0 var(--border), 1px 1px var(--border),
        0 1px var(--border), -1px 1px var(--border),
        -1px 0 var(--border), -1px -1px var(--border),
        0 -1px var(--border), 1px -1px var(--border);
    text-transform: uppercase;
    font-family: "Jua", sans-serif;
}

.emotion-tracker-description-second {
    margin-top: 1vmin;
    font-size: 2.75vmin;
}

.emotion-tracker-list-second {
    display: flex;
    height: 4vmin;
    justify-content: space-between;
    left: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: calc(92.5% - 4vmin);
    transform: translateX(-50%);
    transform-style: preserve-3d;
    width: 85%;
}

.emotion-tracker-list-second::after {
    background: linear-gradient(#8082, #0002);
    border-top: 1px dashed #f0f;
    bottom: 50%;
    content: "Max";
    font-size: 1.25vmin;
    height: 0;
    left: -5%;
    opacity: 0;
    position: absolute;
    text-indent: -8vmin;
    transform: rotate3d(1, 0, 0, -90deg);
    transform-origin: bottom center;
    width: 110%;
}

.emotion-tracker-item-second {
    --height: 0;
    --colorDeg: min(calc(90deg * var(--steps) / 10000), 90deg);
    background: hsl(var(--colorDeg), 48%, 50%);
    box-shadow: inset 0 0 0 2px #0005;
    color: var(--color);
    display: flex;
    font: bold 2.5vmin/4vmin Helvetica, Arial, sans-serif;
    height: 4vmin;
    justify-content: center;
    text-transform: uppercase;
    transform: translate3d(0, 0, var(--height));
    transform-style: preserve-3d;
    transition: transform 0.5s;
    width: 4vmin;
}

.emotion-tracker-item-second:focus,
.emotion-tracker-item-second:hover {
    /* Hover and focus styles */
}

.emotion-tracker-item-second b {
    font-size: 0;
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    text-align: center;
}

.emotion-tracker-item-second b::after {
    display: block;
    font-size: 1.5vmin;
    height: 100%;
    left: 0;
    line-height: 4vmin;
    position: absolute;
    text-shadow:
        1px 0 var(--border), 1px 1px var(--border),
        0 1px var(--border), -1px 1px var(--border),
        -1px 0 var(--border), -1px -1px var(--border),
        0 -1px var(--border), 1px -1px var(--border);
    top: 0;
    transform-origin: center bottom;
    transition: transform 0.5s;
    width: 4vmin;
}

.emotion-tracker-item-second b::before {
    background: #0004;
    bottom: 4vmin;
    content: "";
    display: block;
    filter: blur(0.5vmin);
    height: var(--height);
    left: 0;
    position: absolute;
    transform: translate3d(0, 0, calc(-1 * var(--height)));
    width: 4vmin;
}

.emotion-tracker-item-second div {
    background: linear-gradient(hsl(var(--colorDeg), 48%, 40%), hsl(var(--colorDeg), 48%, 30%));
    box-shadow: inset 0 0 0 1px #0002;
    color: hsl(var(--colorDeg), 48%, 30%);
    font-size: 0;
    height: var(--height);
    left: 0;
    position: absolute;
    top: 100%;
    transform: rotate3d(1, 0, 0, -90deg) rotate3d(0, 1, 0, -90deg);
    transform-origin: top right;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    width: 100%;
}

.emotion-tracker-show-button-second, .emotion-tracker-hide-button-second {
    background: #0004;
    border: 1px solid white;
    box-shadow: 0 0 0 2px #0004;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-size: 2vmin;
    left: 50%;
    outline-offset: 5px;
    padding: 1vmin 2vmin;
    position: absolute;
    text-transform: uppercase;
    top: 76%;
    transform: translate(-50%, 0);
}

.emotion-tracker-hide-button-second {
    box-shadow: 0 0 0 2px #0004, 0 10vmin 5vmin #0002;
    opacity: 0;
    top: 105%;
    transform: translate3d(-50%, 3vmin, 2vmin) scale3d(0.7, 0.5, 0.8) rotate3d(1, 0, 0, -90deg);
}


/* 풍차 windmill 시작 */

.canvas-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10vh;
}

  
.canvas {
    height: 340px;
    width: 340px;
    border: 10px solid #3a4264;
    border-radius: 50%;
    margin: 10% auto;
    /* position: relative; */
    position: relative;
    background: linear-gradient(
      to bottom,
      #4d4d83 0%,
      #c76961 246px,
      #292f4c 0%
    );
    overflow: hidden;
  }
  
  .sun {
    position: absolute;
    height: 112px;
    width: 112px;
    background: linear-gradient(
      to bottom,
      #ffc673 0%,
      #ff653c 100%
    );
    left: 36px;
    top: 70px;
    border-radius: 50%;
  }
  
  .forest {
    bottom: -8px;
    position: absolute;
  }
  
  .tree {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 48px solid #292f4c;
    position: absolute;
    bottom: 80px;
  }
  
  .tree.tree1 {
    left: 22px;
    bottom: 70px;
  }
  
  .tree.tree2 {
    left: 42px;
  }
  
  .tree.tree3 {
    bottom: 62px;
    left: 60px;
  }
  
  .tree.tree4 {
    left: 74px;
    bottom: 64px;
  }
  
  .tree.tree5 {
    left: 90px;
    bottom: 72px;
  }
  
  .tree.tree6 {
    left: 120px;
  }
  
  .tree.tree7 {
    left: 140px;
  }
  
  .tree.tree8 {
    left: 160px;
  }
  
  .tree.tree9 {
    left: 190px;
  }
  
  .tree.tree10 {
    left: 205px;
    bottom: 60px;
  }
  
  .tree.tree11 {
    left: 220px;
    bottom: 70px;
  }
  
  .tree.tree12 {
    bottom: 80px;
    left: 240px;
  }
  
  .tree.tree13 {
    left: 260px;
    bottom: 70px;
  }
  
  .tree.tree14 {
    left: 280px;
    bottom: 60px;
  }
  
  .floors {
    height: 100px;
    width: 74px;
    background: #292f4c;
    left: 10%;
    position: absolute;
    bottom: 80px;
  }
  
  .floors:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 100px solid #292f4c;
    left: -11px;
  }
  
  .floors:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 100px solid #292f4c;
    right: -11px;
    bottom: 0;
  }
  
  .roof {
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-bottom: 48px solid #292f4c;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 180px;
    left: -10px;
  }
  
  .house {
    position: absolute;
    bottom: -10px;
    left: 122px;
  }
  
  .door {
    height: 32px;
    width: 24px;
    background: linear-gradient(
      to bottom,
      #ffed60 0%,
      #ffb73c 100%
    );
    border-radius: 12px 12px 0 0;
    position: absolute;
    bottom: 0;
    left: 25px;
    box-shadow: 0 0px 15px #ffed60;
  }
  
  .light {
    height: 12px;
    width: 12px;
    background: linear-gradient(
      to bottom,
      #ffed60 0%,
      #ffb73c 100%
    );
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 30px;
  }
  
  .light:before {
    content: "";
    height: 36px;
    width: 12px;
    background: linear-gradient(
      to bottom,
      #ffed6000 0%,
      #ffb73c 50%,
      #ffed6000 100%
    );
    position: absolute;
    top: -12px;
    opacity: 0.3;
  }
  
  .light:after {
    content: "";
    height: 36px;
    width: 12px;
    background: linear-gradient(
      to bottom,
      #ffed6000 0%,
      #ffb73c 50%,
      #ffed6000 100%
    );
    position: absolute;
    top: -12px;
    opacity: 0.3;
    transform: rotate(90deg);
  }
  
  .fan-wing {
    width: 100px;
    height: 24px;
    border-bottom: 8px solid #292f4c;
    position: relative;
  }
  
  .fan-wing .fan-comb {
    width: 64px;
    height: inherit;
    border: 4px solid #292f4c;
  }
  
  .fan-wing .fan-comb ul li {
    border-right: 4px solid #292f4c;
    display: inline;
    margin-left: 3.4px;
  }
  
  .fan-wing.fan-1 {
    left: 0;
  }
  
  .fan-wing.fan-2 {
    transform: rotate(90deg);
    transform-origin: 112px 12px;
  }
  
  .fan-wing.fan-3 {
    transform: rotate(180deg);
    transform-origin: 100px 0px;
    left: 0;
  }
  
  .fan-wing.fan-4 {
    transform: rotate(270deg);
    transform-origin: 64px -12px;
    left: 0;
  }
  
  .windmill {
    position: absolute;
    top: -216px;
    z-index: 8;
    left: -65px;
    animation: rotatemill 10s infinite linear;
    transform-origin: 105px 25px;
  }
  
  @keyframes rotatemill {
    0% {
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .star {
    background: white;
    height: 2px;
    width: 2px;
    position: absolute;
    left: 100px;
    top: 20px;
    border-radius: 25%;
    opacity: 0.5;
  }
  
  .star.star-1 {
    left: 150px;
  }
  
  .star.star-2 {
    left: 170px;
    top: 60px;
  }
  
  .star.star-3 {
    left: 130px;
    top: 80px;
  }
  
  .star.star-4 {
    left: 90px;
    top: 80px;
  }
  
  .star.star-5 {
    left: 179px;
    top: 90px;
  }
  
  .star.star-6 {
    left: 136px;
    top: 97px;
  }
  
  .star.star-7 {
    left: 150px;
    top: 97px;
  }
  
  .star.star-8 {
    left: 200px;
    top: 95px;
  }
  
  .star.star-9 {
    left: 260px;
    top: 95px;
  }
  
  .star.star-10 {
    left: 37px;
    top: 100px;
  }
  
  .star.star-11 {
    left: 35px;
    top: 80px;
  }
  
  .star.star-12 {
    left: 25px;
    top: 90px;
  }
  
  .star.star-13 {
    left: 25px;
    top: 135px;
  }
  
  .star.star-14 {
    left: 25px;
    top: 118px;
  }
  
  .star.star-15 {
    left: 10px;
    top: 123px;
  }
  
  .star.star-16 {
    left: 135px;
    top: 23px;
  }
  
  .star.star-17 {
    left: 140px;
    top: 10px;
  }
  
  .star.star-18 {
    left: 200px;
    top: 36px;
  }
  
  .star.star-19 {
    left: 215px;
    top: 37px;
  }
  
  .star.star-20 {
    left: 219px;
    top: 30px;
  }
  
  .star.star-21 {
    left: 230px;
    top: 80px;
  }
  
  .star.star-22 {
    left: 230px;
    top: 150px;
  }
  
  .star.star-23 {
    left: 226px;
    top: 158px;
  }
  
  .star.star-24 {
    left: 250px;
    top: 136px;
  }
  
  .star.star-25 {
    left: 273px;
    top: 123px;
  }
  
  .star.star-26 {
    left: 298px;
    top: 93px;
  }
  
  .star.star-27 {
    left: 296px;
    top: 136px;
  }
  
  .star-28 {
    left: 279px;
    top: 150px;
  }
  
  .star-29 {
    left: 85px;
    top: 29px;
  }
  
  .star-30 {
    left: 83px;
    top: 46px;
  }
  
  .opacity-half {
    opacity: 0.5;
  }
  
  .opacity-quarter {
    opacity: 0.25;
  }
  
  .shooting-star {
    height: 3px;
    width: 3px;
    background: #ffffff3b;
    top: 30px;
    position: absolute;
    right: 40px;
    border-radius: 2px 0 0 2px;
    transform: translate(0px, 0px) rotate(-45deg);
  }
  
  .shooting-star:before {
    content: "";
    height: 0;
    width: 0;
    border-top: 1px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 130px solid #ffffff3b;
    left: 3px;
    position: absolute;
  }
  
  @keyframes shootingstar {
    0% {
      transform: translate(0px, 0px) rotate(-45deg);
    }
    100% {
      transform: translate(-300px, 300px) rotate(-45deg);
    }
  }
  
  @keyframes startwinkle {
    0% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.25;
    }
  }


/* toggle 토글 추가 */


.toggle  {
	position: absolute;
    top:-1vh;
	width: calc(var(--sz) * 4);
	height: calc(var(--sz) * 2);
	display: flex;
	align-items: center;
	justify-content: center;
}

input {
	display: none;
}

label[for=btn] {
  font-family: "Jua", sans-serif;
	position: absolute;
	width: calc(var(--sz) * 4);
	height: calc(var(--sz) * 2);
	background: linear-gradient(0deg, #121720, #0d1217);
	border-radius: var(--sz);
	box-shadow: 0 0 calc(var(--sz) / 50) calc(var(--sz) / 50) #0006, 0 calc(var(--sz) * -0.05) calc(var(--sz) / 10) calc(var(--sz) / 500) #0b0b10, 0 0 calc(var(--sz) / 10) calc(var(--sz) / 50) #b9e1ff88, 0 calc(var(--sz) * -0.05) calc(var(--sz) / 5) calc(var(--sz) / 50) #15182fcc;
}	

.thumb {
	position: absolute;
	height: calc(calc(var(--sz) * 2) - calc(var(--sz) / 8));
	top: calc(calc( var(--sz) / 10) + calc(var(--sz) / -20));
	background: 
		repeating-conic-gradient(#0002 0.000095%, #fff0 .0005%, #fff0 .005%, #fff0 .0005%), 
		repeating-conic-gradient(#0002 0.00001%, #fff0 .00009%, #fff0 .00075%, #fff0 .000025%),
		var(--bg);
	border-radius: var(--sz);
	box-shadow: 
		0 calc(var(--sz) * -0.05) calc(var(--sz) * 0.05) 0 #000c inset, 0 calc(var(--sz) * 0.05) calc(var(--sz) * 0.05) 0 #fff2 inset,     0 0 calc(var(--sz) / 10) calc(var(--sz) / 50) #000c,     0 calc(var(--sz) / 3) calc(var(--sz) / 3) 0 #000d;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	z-index: 1;
	overflow: hidden;
	padding: calc(var(--sz)* 0.65);  
	transition: var(--tr); 
	animation: go-left 1s ease 0s;
	width: calc(var(--sz)* 1.875); 
	right: calc(var(--sz)* 2.05); 
  font-family: "Jua", sans-serif;
}

#btn:checked + label .thumb {
	transition: var(--tr); 
	animation: go-right 1s ease 0s;
	width: calc(var(--sz)* 1.875); 
	right: calc(var(--sz)* 0.075); 
	justify-content: flex-end;
  font-family: "Jua", sans-serif;
}


@keyframes go-left {
	0%   { 
		width: calc(var(--sz)* 1.875); 
		right: calc(var(--sz)* 0.075); 
	}
	40%, 60%  { 
		width: calc(var(--sz)* 3.85); 
		right: calc(var(--sz)* 0.075); 
	}
	100% { 
		width: calc(var(--sz)* 1.875); 
		right: calc(var(--sz)* 2.05);  
	}
}


@keyframes go-right {
	0%   { 
		width: calc(var(--sz)* 1.875); 
		right: calc(var(--sz)* 2.05);  
	}
	40%, 60%  { 
		width: calc(var(--sz)* 3.85); 
		right: calc(var(--sz)* 0.075); 
	}
	100% { 
		width: calc(var(--sz)* 1.875); 
		right: calc(var(--sz)* 0.075); 
	}
}


label[for=btn]:before, 
label[for=btn]:after {
	--clr: var(--on);
	content: "주간";
	color: #fff;
	font-family: "Jua", sans-serif;
	width: 50%;
	float: left;
	text-align: center;
	display: flex;
	justify-content: center;
	height: 100%;
	font-size: calc(var(--sz)* 0.65);
	padding: 0 0 0 calc(var(--sz)* 0.2);
	box-sizing: border-box;
	transform-origin: 100% 50%;
	animation: muelle-on 1.5s var(--elastic) 0.5s;
	color: var(--clr);
	text-shadow: 0 0 calc(var(--sz) * 0.1) var(--clr), 0 0 calc(var(--sz) * 0.3) #000, 0 0 calc(var(--sz) * 0.5) var(--clr), 0 calc(var(--sz) * 0.0125) calc(var(--sz) * 0.05) #233443, 0 calc(var(--sz) * -0.0125) calc(var(--sz) * 0.05) #000;
	align-items: center;
	line-height: calc(var(--sz) * 0.55);

}

label[for=btn]:after {
	content: "누적";
	padding: 0 calc(var(--sz) * 0.325) 0 0;
	transform-origin: 0% 50%;
	--clr: var(--off);
	text-shadow: 0 calc(var(--sz) * 0.0125) calc(var(--sz) * 0.05) #233443, 0 calc(var(--sz) * -0.0125) calc(var(--sz) * 0.05) #000;
}

#btn:checked + label[for=btn]:before {
	animation-name: muelle-off; 
}

#btn:checked + label[for=btn]:after {
	animation: muelle-off 1.5s var(--elastic) 0.5s; 
}

@keyframes muelle-on {
	0% { transform: scaleX(0.35); }
	100% { transform: scaleX(1); }
}

@keyframes muelle-off {
	0% { transform: scaleX(0.35); }
	100% { transform: scaleX(1); }
}


/* light */
span.thumb:before {
	content: "";
	background: #121212;
	position: relative;
	width: calc(var(--sz) / 1.75);
	height: calc(var(--sz) / 1.75);
	border-radius: var(--sz);
	box-shadow: 0 0 calc(var(--sz) / 50) calc(var(--sz) / 50) #0008, 0 calc(var(--sz) * -0.05) calc(var(--sz) / 10) calc(var(--sz) / 500) #000, 0 calc(var(--sz) * 0.025) calc(var(--sz) / 10) calc(var(--sz) / 500) #fff8, 0 0 calc(var(--sz) / 20) calc(var(--sz) / 25) #000;
}

span.thumb:after {
	content: "";
	transition: var(--tr);transition: var(--tr);
	width: calc(var(--sz) / 1.75);
	height: calc(var(--sz) / 1.75);
	position: absolute;
	border-radius: var(--sz);
	--clr: var(--off);
	--shn: #fff8;
	box-shadow: 
		0 0 0 calc(var(--sz) * 0.025) #000c inset, 
		0 0 calc(var(--sz) / 2.5) 0 var(--clr), 
		0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) var(--clr) inset, 
		0 calc(var(--sz) / -20) calc(var(--sz) / 10) calc(var(--sz) / 10) #000c inset;
	background: radial-gradient(circle at 50% 32%, var(--shn) 0 calc(var(--sz) / 20), var(--clr) calc(var(--sz) / 3) calc(var(--sz) / 3));
}

#btn:checked + label span.thumb:after {
	--clr: var(--on);
	--shn: #fff;
}



/* header 네온사인 추가 */
/* header 네온사인 추가 */
#pole{
  border-radius: 1vw 1vw 0 0;    
  position: absolute;
  z-index: 999;
  top:-160px;
  left: 10vmin;
  height: 5vh; 
  width: 5vw;
  transform: translateY(160px);
  min-width: 45px;
  background-color: #30343f;
  font-size: 1.5em;  
  border-right: 3px solid white;
  border-left: 3px solid white;    
}

#right{  
  height: 10vh;    
  transform: translate(-5vh, 5vh);    
  width: 24vw; 
  min-width: 200px;
  background-color: rgb(14, 13, 13); 
  display: flex;
  align-items: center;
  justify-content: center;   
  color: white;    
  border-radius: 10px 50px 50px 10px;
  border: 3px outset white;
}

/* 네온사인 추가 */
#right {
  background-size: cover;
  margin: 0;
}

.logo {
  text-align: center;
  width: 100%;
  height: 10vh;
  margin: auto;
  position: relative;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo b{
  position: relative;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 5vh;
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #7f5da1, 0 0 0.5em #453d47, 0 0 0.1em #d62f2f, 0 10px 3px #000;
  }

.logo b span{
  animation: blink linear infinite 2s;
}

.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

@media screen and (max-width:1200px) {
  .logo b {
    font-size: 3.5vh;
  }

  #right, .logo {
    height: 8vh;
  }
  
}



.chat-header {
  display: none;
}
@media screen and (max-width: 950px) {
  #pole {
    display: none ;
  }
}
@media screen and (max-width: 768px) {
  :root {
    /* --sz: 10vmin; */
      --sz: 3vmin;
  }
  html, body {
    width: 100vmin;
    height: 100vh;
    margin: 0;
    padding: 0;
    
  }

  .toggle {
    position: absolute;
    top:-1vh;
  }
  #pole {
    display: none;
  }
  article {
  height: 60vmin;
  left: calc(50% - 30vmin);
  position: absolute;
  top: 27vh;
  width: 60vmin;

  & > button {
    font-size: 3vmin;
    top:71%;
  }
  }
  .canvas-center {
    top:15vh;
    
  }

   /* header 헤더 시작(모바일) */
    
   .chat-header {
    position: fixed;
    width: 100%;
    z-index: 99;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    height: 58px;
  }

  .header-feedback svg, .header-logout svg {
    width: 26px;
    height: 26px;
    color: white;
  }
  
  .chat-header .header-left {

    margin-left: 1rem;
  }
  .chat-header span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .chat-header span p {
    font-size: 1.2rem;
  }
  
  .chat-header .header-right {
    margin-right: 1rem;

  }
  
}

@media screen and (max-width: 480px) {

  :root {
      --sz: 5vmin;
  }
  article {
    height: 100vmin;
  }
  .toggle {
    position: absolute;
    top:-3vh;
  }

  .canvas-center {
    top:20vh;
  }


}