@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

.character-main {
  min-height: 100vh;
  background-color: transparent;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 12rem;
  perspective: 110em;
  perspective-origin: 50% calc(50% - 10em);
  padding: 25px;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  justify-content: center;
  align-items: flex-end; */
   /* 변경된 부분: 아이템을 아래쪽에 정렬 */
   padding-top: 20vh;
}

.character-scene {
  position: relative;
  transform-style: preserve-3d;
  margin: 20px;
}

.character-scene:nth-child(1) .table { z-index: 5; }
.character-scene:nth-child(2) .table { z-index: 4; }
.character-scene:nth-child(3) .table { z-index: 10; }
.character-scene:nth-child(4) .table { z-index: 299; }
.character-scene:nth-child(5) .table { z-index: 1; }

.table4 {
  z-index: 99;
}
.table5 {
  z-index: 1;
}

.table4 > .table-front {
  z-index: 9999999;
}

.signature {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  color: white;
  font-size: 12px;
  font-family: "Cutive Mono";
}

.table1,.table2,.table3,.table4,.table5  {
  position: relative;
  width: 8rem; /* 변경된 부분 */
  aspect-ratio: 1;
  transform-style: preserve-3d;
  /* opacity: 0;
  transform: translateY(10rem);
  transition: opacity 1s, transform 1s;  */



}



.table-top {
  height: 8rem; /* 변경된 부분 */
  background-color: transparent !important;
  /* box-shadow: 0 0 0 1em #f2a65a inset; */
  box-shadow: 0 0 0 1em #D3D3D3 inset;
  overflow: hidden;
}

.top-slider {
  background-color: azure;
  opacity: 0.9;
  position: absolute;
  inset: 1em;
  margin: auto;
  box-shadow: 0 0 0 3px white;
  transform: translateX(0);
  animation: slide 4s ease-out forwards;
  display: grid;
  place-items: center;
}

.shadow-sandwich {
  height: 3em;
  width: 3em;
  background-color: #313131;
  transform: rotateZ(55deg) scale(1.2);
  border-radius: 50%;
  box-shadow: 0 0 20px #313131;
  animation: expand 6s ease-in forwards, shrink 2s 2s infinite;
}

@keyframes expand {
  0% {
    transform: rotateZ(55deg) scale(0);
  }
  60%{
    transform: rotateZ(55deg) scale(0);
  }
  90% {
    transform: rotateZ(55deg) scale(0.95);
  }
  100% {
    transform: rotateZ(55deg) scale(1.2);
  }
}

@keyframes shrink {
    0% {
      transform: rotateZ(55deg) scale(1.2);
    }
    50% {
      transform: rotateZ(55deg) scale(0.7);
    }
    100% {
      transform: rotateZ(55deg) scale(1.2);
    }
  }

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10rem);
  }
  15% {
    transform: translateX(-8rem); /* 변경된 부분 */
  }
  55% {
    transform: translateX(-8rem); /* 변경된 부분 */
  }
  75% {
    transform: translateX(-2rem); /* 변경된 부분 */
  }
  100% {
    transform: translateX(0);
  }
}

.table-top,
.table-left,
.table-right,
.table-front,
.table-back,
.table-bottom {
  width: 8rem; /* 변경된 부분 */
  position: absolute;

}

.table-bottom {
  height: 8rem; /* 변경된 부분 */
  box-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black, 0 0 40px black inset;
}

.table-left,
.table-right,
.table-front,
.table-back {
  height: 4rem; /* 변경된 부분 */
  /* box-shadow: 0 0 0 1em #8e6608 inset; */
  /* box-shadow: 0 0 0 1em #1e262b inset; */
  box-shadow: 0 0 0 1em #656561 inset;

}


/* 1.	민트 그린 (Mint Green)
•	Hex: #98FF98
•	RGB: (152, 255, 152)
2.	연한 노랑 (Light Yellow)
•	Hex: #FFFFE0
•	RGB: (255, 255, 224)
3.	연한 청록 (Pale Turquoise)
•	Hex: #AFEEEE
•	RGB: (175, 238, 238)
4.	라이트 퍼플 (Light Purple)
•	Hex: #E6E6FA
•	RGB: (230, 230, 250)
5.	피치 (Peach)
•	Hex: #FFDAB9
•	RGB: (255, 218, 185)
6.	베이비 블루 (Baby Blue)
•	Hex: #ADD8E6
•	RGB: (173, 216, 230)
7.	샌드 베이지 (Sand Beige)
•	Hex: #F5F5DC
•	RGB: (245, 245, 220)
8.	라이트 그레이 (Light Gray)
•	Hex: #D3D3D3
•	RGB: (211, 211, 211) */

.table-top {
  transform: rotateX(90deg);
}
.table-left {
  transform: rotateY(90deg) translateZ(4rem) translateY(4rem); /* 변경된 부분 */
}
.table-right {
  transform: rotateY(-90deg) translateZ(4rem) translateY(4rem); /* 변경된 부분 */
}
.table-front {
  transform: translateZ(4rem) translateY(4rem); /* 변경된 부분 */
}
.table-back {
  transform: translateZ(-4rem) translateY(4rem); /* 변경된 부분 */
}
.table-bottom {
  transform: rotateX(90deg) translateZ(-4rem); /* 변경된 부분 */
}
.table-front {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-front-title {
  width: 5rem;
  height: 2rem;
  background-color: wheat;
  border-radius: 10px;
  color:black;
  text-align: center;
}


.cheese {
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%) rotateX(0deg);
  height: 8em;
  width: 8em;
  transform-style: preserve-3d;
  animation: rise 4s ease-in-out forwards, float 2s 2s infinite;
  background-color: none;

  /* opacity: 0;
  transition: opacity 1s, transform 1s;  */
}


.sandwich img,
.cheese img {
    width: 100%;
    height: 100%;
}

@keyframes rise {
    0% {
      bottom: -50%;
      transform: translateX(-5rem) scale(0);
    }

    80% {
      bottom: 50%;
      transform: translateX(-5rem) scale(0.9); /* 변경된 부분 */
    }
    100% {
      bottom: 50%;
      transform: translateX(-5rem) scale(1); /* 변경된 부분 */
    }
    100% {
      bottom: 40%;
    }
  }

@keyframes float {
    0% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(-10px);
    }
    100% {
      transform: translateX(-50%) translateY(0);
    }
  }



/* 처음에 상자 숨김 */
/* .hidden {
    opacity: 0;
    transition: opacity 1s ease-in-out;
 } */

/* 추가된 버튼 스타일 */
#createButton, #deleteButton {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding:0 20px;
    background-color: #abefec;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
  }


#deleteButton {
    background-color: #f44336; /* delete 버튼의 색상 변경 */
}


@keyframes appear {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  /* 기존 CSS 코드 생략 */

/* fall 애니메이션 정의 */
@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

/* fall 애니메이션을 적용할 클래스 */
.cheese.fall {
  animation: fall 1s forwards;
}

  @keyframes reverse-slide { /* reverse-slide 애니메이션 추가 */
    0% {
      transform: translateX(-15em);
    }
    5% {
      transform: translateX(-15em);
    }
    20% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
    }
  }


  /* 반응형 추가 */
  /* 반응형 디자인 추가 */
@media screen and (max-width: 768px) {
  .character-main {
      margin: 0 2rem;
      padding-top: 10vh;
  }

  .character-scene {
      margin: 10px;
  }

  .table1, .table2, .table3, .table4, .table5 {
    display: none;
  }

  .table-top, .table-left, .table-right, .table-front, .table-back, .table-bottom {
      width: 5rem;
  }

  .cheese {
      height: 5em;
      width: 5em;
  }
}