{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeelBuddy</title>
    <link rel="icon" href="/media/joy.png" type="image/png">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://cdn.remixicon.com/releases/v1.2.2/remixicon.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- jQuery 라이브러리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- jQuery UI 라이브러리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

    <!-- Ionicons 라이브러리 -->
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons.js"></script>


    <link rel="stylesheet" href="{% static '/css/chatbot/icon.css' %}">
    <link rel="stylesheet" href="{% static '/css/chatbot/chatbotcall.css' %}">
    <link rel="stylesheet" href="{% static '/css/chatbot/chatbot.css' %}">
    <link rel="stylesheet" href="{% static '/css/chatbot/music.css' %}">
    <link rel="stylesheet" href="{% static '/css/chatbot/mochatbot.css' %}">
    <link rel="stylesheet" href="{% static '/css/chatbot/nav.css' %}">
    <link rel="stylesheet" href="{% static '/css/chatbot/lighthouse.css' %}">

    <!-- header 아이콘 추가 시작 -->
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,300,700'>
    <link rel='stylesheet prefetch' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css'>
    <!-- header 아이콘 추가 시작 -->
    <style>

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        /* 기본 resizable 핸들 숨기기 */
        .ui-resizable-handle {
            display: none;
        }

        /* chat 요소에 커서 변경 추가 */
        #chat {


        }

        /* 커서가 chat 요소의 모서리에 위치할 때 커서 모양 변경 */
        #chat:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 20px;
            height: 20px;
            cursor: se-resize;
        }

        .chat-arrow {
            position: absolute;
            /* 화면에 고정된 위치에 배치 */
            top: 50%;
            /* 화면의 세로 중앙에 배치 */
            transform: translateY(-50%);
            /* 세로 중앙 정렬을 위해 Y축 변환 */
            font-size: 2em;
            /* 화살표의 크기 */
            cursor: pointer;
            /* 커서를 손 모양으로 변경 */
            z-index: 10;
            /* 다른 요소들 위에 표시 */
            color: white;
            /* 화살표 색상 */
            background-color: rgba(0, 0, 0, 0.5);
            /* 배경 색상 및 투명도 */
            padding: 10px;
            /* 여백 추가 */
            border-radius: 50%;
            /* 둥근 모서리 */
        }

        .chat-arrow.left {
            left: 10vmin;
            /* 왼쪽 화살표의 위치 */
        }

        .chat-arrow.right {
            right: 10vmin;
            /* 오른쪽 화살표의 위치 */
        }

        .chat-content {
            display: none;
            /* 기본적으로 모든 방을 보이지 않게 설정 */
        }

        .chat-content.active {
            display: block;
            /* active 클래스가 있는 방만 보이도록 설정 */
        }
    </style>
</head>

<body>
<!-- 모바일 반응형 header 시작 -->
<header class="chat-header" id="header">
    <div class="header-left">
        <!-- header에서 나머지는 다 자바스크립트고, 오빠가 백 연결해야 할 부분은 오직 button!! - button 누르면 chatlist로 가게 하면 됩니다.  -->
        <button>
            <a href="{% url 'character:character_list' %}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M7.82843 10.9999H20V12.9999H7.82843L13.1924 18.3638L11.7782 19.778L4 11.9999L11.7782 4.22168L13.1924 5.63589L7.82843 10.9999Z"></path></svg>
            </a>
        </button>
        <i class="fas fa-chevron-left"></i>
    </div>
    <span><p>Feel Buddy</p></span>
    <div class="header-right">
        <div class="nav bounceInDown animated">
            <a href="#profile" class="nav-item nav-count-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M10 3H14C18.4183 3 22 6.58172 22 11C22 15.4183 18.4183 19 14 19V22.5C9 20.5 2 17.5 2 11C2 6.58172 5.58172 3 10 3Z"></path>
                </svg>
                <span class="invisible"></span></a>
            <a href="#compose" class="nav-item nav-count-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M14 10.25L17 8V14L14 11.75V14H7V8H14V10.25ZM5.76282 17H20V5H4V18.3851L5.76282 17ZM6.45455 19L2 22.5V4C2 3.44772 2.44772 3 3 3H21C21.5523 3 22 3.44772 22 4V18C22 18.5523 21.5523 19 21 19H6.45455Z"></path>
                </svg>
                </i><span class="invisible"></span></a>
            <a href="#Play" class="nav-item nav-count-3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M21 19H23V21H1V19H3V4C3 3.44772 3.44772 3 4 3H14C14.5523 3 15 3.44772 15 4V19H19V11H17V9H20C20.5523 9 21 9.44772 21 10V19ZM5 5V19H13V5H5ZM7 11H11V13H7V11ZM7 7H11V9H7V7Z"></path>
                </svg>
                <span class="invisible"></span></a>
            <a href="#welcome" class="nav-item nav-count-4"><i class="ion-music-note"></i><span
                    class="invisible"></span></a>
            <a href="#toggle" class="mask"><i class="ion-plus-round"></i></a>
        </div>
    </div>

</header>

<!-- 모바일 반응형 header 끝-->





<div class="chat-arrow left">&larr;</div>
<div class="chat-arrow right">&rarr;</div>
<!-- 모바일 반응형-footer 시작 -->
<nav class="mobile-footer" role="menulist">
    <a href="{% url 'users:main' %}" role="menuitem" aria-describedby="nav-current">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M20 20C20 20.5523 19.5523 21 19 21H5C4.44772 21 4 20.5523 4 20V11L1 11L11.3273 1.6115C11.7087 1.26475 12.2913 1.26475 12.6727 1.6115L23 11L20 11V20ZM11 13V19H13V13H11Z"></path>
        </svg>
        Home
    </a>
    <a href="{% url 'chatbot:chatbot_content_list' pk %}" role="menuitem" class="active">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M10 3H14C18.4183 3 22 6.58172 22 11C22 15.4183 18.4183 19 14 19V22.5C9 20.5 2 17.5 2 11C2 6.58172 5.58172 3 10 3Z"></path>
        </svg>
        Chat
    </a>
    <a href="{% url 'chatbot:emotion' %}" role="menuitem">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M4 4C4 3.44772 4.44772 3 5 3H10C10.5523 3 11 3.44772 11 4L11 16C11 16.5523 10.5523 17 10 17H5C4.44772 17 4 16.5523 4 16L4 4ZM14 7C13.4477 7 13 7.44772 13 8V16C13 16.5523 13.4477 17 14 17H19C19.5523 17 20 16.5523 20 16V8C20 7.44772 19.5523 7 19 7L14 7ZM21 19L3 19V21H21V19Z"></path>
        </svg>
        Log
    </a>
    <a href="{% url 'character:character_list' %}" role="menuitem">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M8 4H21V6H8V4ZM3 3.5H6V6.5H3V3.5ZM3 10.5H6V13.5H3V10.5ZM3 17.5H6V20.5H3V17.5ZM8 11H21V13H8V11ZM8 18H21V20H8V18Z"></path>
        </svg>
        List
    </a>
    <a href="{% url 'users:profile' %}" role="menuitem">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M20 22H4V20C4 17.2386 6.23858 15 9 15H15C17.7614 15 20 17.2386 20 20V22ZM12 13C8.68629 13 6 10.3137 6 7C6 3.68629 8.68629 1 12 1C15.3137 1 18 3.68629 18 7C18 10.3137 15.3137 13 12 13Z"></path>
        </svg>
        Profile
    </a>
    <i class="line" id="nav-current">current item</i>
</nav>
<!-- 모바일 반응형 - footer 끝 -->

<div class="icon">
    <a href="{% url 'users:main' %}" role="menuitem">
        <div class="icon__home">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path d="M20 20C20 20.5523 19.5523 21 19 21H5C4.44772 21 4 20.5523 4 20V11L1 11L11.3273 1.6115C11.7087 1.26475 12.2913 1.26475 12.6727 1.6115L23 11L20 11V20ZM11 13V19H13V13H11Z"></path>
            </svg>
        </div>
    </a>
    <a href="{% url 'users:profile' %}" role="menuitem">
        <div class="icon__account">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path d="M20 22H4V20C4 17.2386 6.23858 15 9 15H15C17.7614 15 20 17.2386 20 20V22ZM12 13C8.68629 13 6 10.3137 6 7C6 3.68629 8.68629 1 12 1C15.3137 1 18 3.68629 18 7C18 10.3137 15.3137 13 12 13Z"></path>
            </svg>
        </div>
    </a>
    <a href="{% url 'character:character_list' %}" role="menuitem">
        <div class="icon__list">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path d="M8 4H21V6H8V4ZM3 3.5H6V6.5H3V3.5ZM3 10.5H6V13.5H3V10.5ZM3 17.5H6V20.5H3V17.5ZM8 11H21V13H8V11ZM8 18H21V20H8V18Z"></path>
            </svg>
        </div>
    </a>
    <a href="{% url 'chatbot:emotion' %}" role="menuitem">
        <div class="icon__log">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path d="M4 4C4 3.44772 4.44772 3 5 3H10C10.5523 3 11 3.44772 11 4L11 16C11 16.5523 10.5523 17 10 17H5C4.44772 17 4 16.5523 4 16L4 4ZM14 7C13.4477 7 13 7.44772 13 8V16C13 16.5523 13.4477 17 14 17H19C19.5523 17 20 16.5523 20 16V8C20 7.44772 19.5523 7 19 7L14 7ZM21 19L3 19V21H21V19Z"></path>
            </svg>
        </div>
    </a>
</div>




 <!-- 램프 효과 -->
 <input type="checkbox" name="btn" id="btn" checked>
       

<div class="chat-content active" id="mobile-chat-contact">

      
    <div class="chat-content-body-1">
          
        <!-- 네온사인 표지판 추가 -->
        <div id="pole">
            <div id="right">
                <div class="logo">
                    <b>FE<span>EL</span>&nbsp;BU<span>D</span>DY</b>
                </div>
            </div>
        </div>
        <!-- 네온사인 표지판 추가 끝 -->
        <div class="chat-buildings">
            <div class="chat-window"></div>
            <div class="chat-window"></div>
            <div class="chat-window"></div>
            <div class="chat-window"></div>
            <div class="chat-window"></div>
            <div class="chat-window"></div>
        </div>
        <div class="chat-ground">
            <div class="chat-sewer"></div>
        </div>

        <div class="chat-streetlamp">
            <div class="chat-base"></div>
            <div class="chat-basetop"></div>
            <div class="chat-pole"></div>
            <div class="chat-poletop"></div>
            <div class="chat-head">
                <label for="btn"></label>
                
                <div class="chat-top"></div>
                <div class="chat-glass"></div>
                <div class="chat-bot"></div>
                
            </div>

         
            <div class="chat-light"></div>
            <div class="chat-ground-light"></div>
        </div>
        <!-- <div class="chat-lamp-header">
            <p>Feelbuddy</p>
        </div> -->

        <!-- css 수정하면서 html도 같이 수정함 -->
        <div class="chat-character-lamp">
            {% if character.adminCharacter.emotion == '기쁨' %}
                <img src="/media/joy.png" alt="" class="chat-character">
            {% elif character.adminCharacter.emotion == '분노' %}
                <img src="/media/anger.png" alt="" class="chat-character">
            {% elif character.adminCharacter.emotion == '슬픔' %}
                <img src="/media/sad.png" alt="" class="chat-character">
            {% elif character.adminCharacter.emotion == '불안' %}
                <img src="/media/anxiety.png" alt="" class="chat-character">
            {% elif character.adminCharacter.emotion == '두려움' %}
                <img src="/media/fear.png" alt="" class="chat-character">
            {% endif %}
        </div>
        <div class="chat-center" id="chat-center">
            

            <div class="contacts" id="mobile-contacts">
                
                <!-- <i class="fas fa-bars fa-2x"></i> -->
                <h2>Contacts</h2>


                {% for character in characters %}
                    <div class="contact">
                        

                        {% if character.adminCharacter.emotion == '기쁨' %}

                            <div class="chat-pic joy"></div>
                            <a href="/chatbot/{{ character.id }}">
                                <div class="badge">14</div>
                                <div class="name">{{ character.name }}</div>
                                <div class="message"
                                     id="latest-message-{{ character.id }}">{{ character.last_content }}</div>
                            </a>
                        {% elif character.adminCharacter.emotion == '분노' %}

                            <div class="chat-pic anger"></div>
                            <a href="/chatbot/{{ character.id }}">
                                <div class="badge">14</div>
                                <div class="name">{{ character.name }}</div>
                                <div class="message"
                                     id="latest-message-{{ character.id }}">{{ character.last_content }}</div>
                            </a>
                        {% elif character.adminCharacter.emotion == '불안' %}
                            <div class="chat-pic anxiety"></div>
                            <a href="/chatbot/{{ character.id }}">
                                <div class="badge">14</div>
                                <div class="name">{{ character.name }}</div>
                                <div class="message"
                                     id="latest-message-{{ character.id }}">{{ character.last_content }}</div>
                            </a>
                        {% elif character.adminCharacter.emotion == '슬픔' %}
                            <div class="chat-pic sad"></div>
                            <a href="/chatbot/{{ character.id }}">
                                <div class="badge">14</div>
                                <div class="name">{{ character.name }}</div>
                                <div class="message"
                                     id="latest-message-{{ character.id }}">{{ character.last_content }}</div>
                            </a>
                        {% elif character.adminCharacter.emotion == '두려움' %}
                            <div class="chat-pic fear"></div>
                            <a href="/chatbot/{{ character.id }}">
                                <div class="badge">14</div>
                                <div class="name">{{ character.name }}</div>
                                <div class="message"
                                     id="latest-message-{{ character.id }}">{{ character.last_content }}</div>
                            </a>
                        {% endif %}

                    </div>
                {% endfor %}
            </div>
            
            <div class="chat"  id="chat">
                
                
               

                <div class="contact bar">
                    {% if character.adminCharacter.emotion == '기쁨' %}
                        <div class="chat-pic joy"></div>
                        <div class="chat-name">{{ character.name }}</div>
                        <div class="seen" id="latest-time-{{ character.id }}">Last at {{ last_time }}</div>
                    {% elif character.adminCharacter.emotion == '분노' %}
                        <div class="chat-pic anger"></div>
                        <div class="chat-name">{{ character.name }}</div>
                        <div class="seen" id="latest-time-{{ character.id }}">Last at {{ last_time }} </div>
                    {% elif character.adminCharacter.emotion == '불안' %}
                        <div class="chat-pic anxiety"></div>
                        <div class="chat-name">{{ character.name }}</div>
                        <div class="seen" id="latest-time-{{ character.id }}">Last at {{ last_time }}</div>
                    {% elif character.adminCharacter.emotion == '슬픔' %}
                        <div class="chat-pic sad"></div>
                        <div class="chat-name">{{ character.name }}</div>
                        <div class="seen" id="latest-time-{{ character.id }}">Last at {{ last_time }}</div>
                    {% elif character.adminCharacter.emotion == '두려움' %}
                        <div class="chat-pic fear"></div>
                        <div class="chat-name">{{ character.name }}</div>
                        <div class="seen" id="latest-time-{{ character.id }}">Last at 12:56</div>
                    {% endif %}
                </div>
                <div id="messages" class="messages">
                    {% for group in grouped_contents %}
                        <div class="time">{{ group.date }}</div> <!-- 날짜 표시 -->
                        {% for content in group.messages %}
                            {% if content.type == 'user' %}
                                <div class="message parker">{{ content.content }}</div>
                            {% else %}
                                <div class="message stark">{{ content.content }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>

                <div class="input">
                    <div class="type-message-bottom">
                        <i class="fas fa-microphone" id="record-btn"></i>
                        <input type="text" id="user-content2" placeholder="Type a message...">
                        <a class="send">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path d="M1.94619 9.31543C1.42365 9.14125 1.41953 8.86022 1.95694 8.68108L21.0431 2.31901C21.5716 2.14285 21.8747 2.43866 21.7266 2.95694L16.2734 22.0432C16.1224 22.5716 15.8178 22.59 15.5945 22.0876L12 14L18 6.00005L10 12L1.94619 9.31543Z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="chat-content" id="chat-content-1">

   
    <div class="chat-content-body-2">
        <div class="chat-buildings">
            <div class="chat-window"></div>
            <div class="chat-window"></div>
            <div class="chat-window"></div>
            <div class="chat-window"></div>
            <div class="chat-window"></div>
            <div class="chat-window"></div>
        </div>
        <div class="chat-ground">
            <div class="chat-sewer"></div>
        </div>
        <!-- 두 번째 테마 시작 -->
        <div class="main-container">
            <div class="main-header">
                <div class="header-logo">Feelbuddy</div>
                <div class="header-left">
                    <i class="fas fa-chevron-left"></i>
                    <a class="service">chatbot</a>
                    <div class="group-button button">
                        <i class="fas fa-users"></i>
                        <a>Emotions</a>
                    </div>
                </div>
                <div class="header-right">
                    <div class="header-right-box">
                        <div class="box border-10 bg-icon"></div>
                        <div class="box flex-col">
                            <div class="box-1 lg-box"></div>
                            <div class="dark-green"></div>
                            <div class="light-green"></div>
                        </div>
                        <div class="box  flex">
                            <div class="box-1 sm-box"></div>
                            <div class="box-2 sm-box"></div>
                            <div class="box-3 sm-box"></div>
                            <div class="box-4 sm-box"></div>
                        </div>
                    </div>
                    <div class="header-right-buttons">
                        <div class="chat-button button">
                            <i class="far fa-comment-dots"></i>
                            <a>Chat</a>
                        </div>
                        <div class="parti-button button">
                            <i class="fas fa-users"></i>
                            <a>Characters</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-chat-content">
                <div class="left-side">
                    <div class="left-side-menu">
                        <i class="fas fa-home icon-color"></i>
                        <i class="fas fa-video  icon-active"></i>
                        {% for character in characters %}
                            <a href="/chatbot/{{ character.id }}">
                                <div class="left-side-image{{ forloop.counter }} icon-color">
                                    <img src="{{ character.adminCharacter.image.url }}"
                                         alt="{{ character.adminCharacter.emotion }}"
                                         class="">
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="middle">
                    <div class="middle-img">
                        <div class="call-view">
                            <div class="call-view__tracks">
                                <div class="remote-track--container">
                                    <!-- 말풍선 추가 시작 -->
                                    <div class="speech-bubble-content">
                                        <p class="speech-bubble">
                                        
                                         안녕 나는 {{ character.name }}야안녕ㅎ미나어히마넝리마ㅓㄴ이;라머ㅣㄴ아러;미ㅏㄴ어림;ㅓㄴㅇ리안녕ㅎ미나어히마넝리마ㅓㄴ이;라머ㅣㄴ아러;미ㅏㄴ어림;ㅓㄴㅇ리ㅏ안녕ㅎ미나어히마넝리마ㅓㄴ이;라머ㅣㄴ아러;미ㅏㄴ어림;ㅓㄴㅇ리ㅏ안녕ㅎ미나어히마넝리마ㅓㄴ이;라머ㅣㄴ아러;미ㅏㄴ어림;ㅓㄴㅇ리ㅏㅏ
                                        </p>
                                    </div>
                                    <!-- 말풍선 추가 끝 -->
                                    <div class="remote-track--picture-placeholder--container">
                                        <div class="remote-track--picture-placeholder__background"
                                             style="background-image: url('{{ character.adminCharacter.image.url }}');"></div>
                                        <div class="remote-track--picture-placeholder"
                                             style="background-image: url('{{ character.adminCharacter.image.url }}');">

                                        </div>
                                    </div>
                                    <div class="input-status-container">
                                        <div class="input-status">
                                            <i class="fas fa-video" style="color: #FAFAFA;"></i>
                                        </div>
                                        <div class="input-status">
                                            <i class="fas fa-volume-mute" style="color: #FAFAFA;"></i>
                                        </div>
                                    </div>
                                    <div class="call-view__controls-container">
                                        <div class="call-view__controls">
                                            <div id="btn--end-call" class="call-view__controls__icon-btn important">
                                                <i class="fas fa-video" style="color: #FAFAFA;"></i>
                                            </div>
                                            <div id="btn--toggle-mic" class="call-view__controls__icon-btn">
                                                <i class="fas fa-volume-up" style="color: #FF3346;"></i>
                                            </div>
                                            <div id="btn--toggle-screen-sharing" class="call-view__controls__icon-btn">
                                                <i class="fas fa-square" style="color: #27A4FD;"></i>
                                            </div>
                                            <div id="btn--settings" class="call-view__controls__icon-btn">
                                                <i class="fas fa-ellipsis-h" style="color: #27A4FD;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-side">
                    <div class="chat-box" id="chatphone" data-username="{{ user.username }}"
                         data-charactername="{{ character.name }}">
                        {% for group in grouped_contents %}
                            {% for content in group.messages %}
                                {% if content.type == 'user' %}
                                    <!-- 채팅 내꺼 추가 시작-->
                                    <div class="chat-box-title">
                                        <a></a>
                                        <a style="margin-right: 15px;" class="username22">{{ user.username }}</a>
                                    </div>
                                    <p class="chat-message-me">{{ content.content }}</p>
                                {% else %}

                                    <div class="chat-box-title">
                                        <a class="charactername22">{{ character.name }}</a>
                                    </div>
                                    <p class="chat-message">{{ content.content }}</p>

                                {% endif %}

                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="type-message">
                        <div class="type-message-bottom">
                            <i class="fas fa-microphone" id="record-btn-2"></i>
                            <input type="text" id="user-content22" placeholder="Type a message...">
                            <a class="send" id="send22">Send</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="chat-content" id="chat-content-2">

    <div class="chat-content-body-3">

        <!-- checkbox 안 보이게 수정(아래 두 줄) -->
        <input type="checkbox" name="light" id="light" class="light-checkbox">
        <input type="checkbox" name="night" id="night" class="night-checkbox">
        <div class="lighthouse-sky">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><i></i><i></i><i></i><i></i><i></i><i></i>
        </div>
        <div class="lighthouse-sea">
                        <div id="emotional-phrase" class="emotional-phrase-container"></div>  <!--------------------- 추가된 부분 : 글귀를 표시할 요소 ------------------------->
            <span></span></div>
        <div class="lighthouse-content">
            <div class="lighthouse">
                <div class="lighthouse-base"></div>
                <div class="lighthouse-tower"></div>
                <div class="lighthouse-top"></div>
                <div class="lighthouse-roof"></div>
                <div class="lighthouse-light"></div>
            </div>
            <div class="lighthouse">
                <div class="lighthouse-base"></div>
                <div class="lighthouse-tower"></div>
            </div>
            <label for="light"></label>
        </div>
        <label for="night"></label>
    </div>

</div>


<div class="chat-content" id="chat-content-3">
   
    <div class="chat-content-body-4">
        <div class="night">
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
          </div>
        
        <div class="music-wrap">
            
            <div class="music-player">
                <div class="music-left">
                    <div class="music-buttons" id="playPauseButton">
                        <div class="music-buttons-left"></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="music-front"></div>
                <div class="music-top"></div>
                <div class="music-bottom">
                    <div class="music-disc">
                        <div class="music-light"></div>
                        <div class="music-label">
                            <div class="music-text">
                                <span>F</span>
                                <span>e</span>
                                <span>e</span>
                                <span>l</span>
                                <span>&nbsp;</span>
                                <span>B</span>
                                <span>u</span>
                                <span>d</span>
                                <span>d</span>
                                <span>y</span>
                            </div>
                        </div>
                    </div>
                    <div class="music-op">
                        <div class="music-handle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static '/js/chatbot/menu.js' %}"></script>
<script src="{% static '/js/chatbot/nav.js' %}"></script>


<script>
    $(document).ready(function () {
        function scrollChatBox() {
            $('#messages').scrollTop($('#messages')[0].scrollHeight);
        }

        // 페이지 로드 시 스크롤을 맨 아래로 이동
        scrollChatBox();

        // 메시지 전송 로직을 함수로 분리
        function sendMessage() {
            let userContent = $('#user-content2').val();

            if (userContent.trim() !== "") {
                // 사용자 메시지를 바로 추가하기
                $('#messages').append(
                    `<div class="message parker">
                        ${userContent}
                    </div>`
                );
                $('#user-content2').val('');
                scrollChatBox();

                // Typing 애니메이션을 추가하기
                $('#messages').append(
                    `<div class="message stark typing">
                        <div class="typing typing-1"></div>
                        <div class="typing typing-2"></div>
                        <div class="typing typing-3"></div>
                    </div>`
                );
                scrollChatBox();

                // 사용자 메시지를 서버에 전송
                $.ajax({
                    type: 'POST',
                    url: `{% url 'chatbot:chatbot_user_create' pk=character.id %}`,
                    data: {
                        'user_content': userContent,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function () {
                        // AI 응답을 서버에 요청
                        $.ajax({
                            type: 'POST',
                            url: `{% url 'chatbot:chatbot_ai_create' pk=character.id %}`,
                            data: {
                                'user_input': userContent,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            success: function (response) {
                                // 2초 후에 Typing 애니메이션을 제거하고 AI 메시지를 추가
                                setTimeout(function () {
                                    // Typing 애니메이션을 제거합니다.
                                    $('.typing').remove();

                                    // AI 메시지를 추가합니다.
                                    $('#messages').append(
                                        `<div class="message stark">
                                            ${response.ai_content}
                                        </div>`
                                    );

                                    let aiContent = response.ai_content;
                                    let truncatedContent = aiContent.length > 10 ? aiContent.slice(0, 10) + '...' : aiContent;

                                    let time = response.time1;
                                    // 메시지 업데이트
                                    $('#latest-message-' + response.id2).text(truncatedContent);
                                    // 시간 업데이트
                                    $('#latest-time-' + response.id2).text('Last at ' + time);

                                    scrollChatBox();
                                }, 2000); // 2초 딜레이
                            }
                        });
                    }
                });
            }
        }

        // Enter 키를 눌렀을 때 메시지 전송
        $('#user-content2').on('keypress', function (event) {
            if (event.which === 13) { // Enter 키를 감지
                event.preventDefault(); // 기본 Enter 동작을 막기
                sendMessage();
            }
        });

        // a 버튼을 클릭했을 때 메시지 전송
        $('.send').on('click', function (event) {
            event.preventDefault(); // a 태그의 기본 동작을 막기
            sendMessage();
        });

        // Resizable 설정
        $("#chat").resizable({
            minWidth: 400,
            minHeight: 400
        });
    });
</script>


<!-- 두 번째 스크립트 코드 -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (window.matchMedia("(max-width: 768px)").matches) {
            const mobileContacts = document.getElementById('mobile-contacts');
            const mobileChatContacts = document.getElementById('mobile-chat-contact');
            const mobileChat = document.getElementById('chat');
            const chatContent1 = document.getElementById('chat-content-1');
            const chatContent2 = document.getElementById('chat-content-2');
            const chatContent3 = document.getElementById('chat-content-3');
            const headerLeftIcon = document.querySelector('.header-left i');
            const backLeftSvg = document.querySelector('.header-left button a');
            const headerRight = document.querySelector('.header-right');
            const navItems = document.querySelectorAll('.nav-item');

            let currentChatContent = ''; // 현재 표시된 채팅 콘텐츠를 저장하는 변수

            function hideAll() {
                mobileChat.style.display = 'none';
                chatContent1.style.display = 'none';
                chatContent2.style.display = 'none';
                chatContent3.style.display = 'none';
            }

            // 초기 상태
            mobileContacts.style.display = 'block';
            hideAll();
            headerLeftIcon.style.display = 'none';
            headerRight.style.display = 'none';
            backLeftSvg.style.display = 'block';

            // contact 클릭 시 chat 화면으로 전환
            document.querySelectorAll('.contact a').forEach(link => {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    const chatUrl = this.getAttribute('href');
                    $.ajax({
                        url: chatUrl,
                        success: function (data) {
                            mobileContacts.style.display = 'none';
                            hideAll();
                            mobileChat.style.display = 'block';
                            headerLeftIcon.style.display = 'block';
                            headerRight.style.display = 'block';
                            backLeftSvg.style.display = 'none';
                            currentChatContent = $(data).find('#chat').html(); // 현재 표시된 chat 내용을 저장
                            $('#chat').html($(data).find('#chat').html());
                        },
                        error: function () {
                            console.error("Chat 내용을 불러오는 데 실패했습니다.");
                        }
                    });
                });
            });

            // nav-item 클릭 시 해당 chat-content로 전환
            navItems.forEach((navItem, index) => {
                navItem.addEventListener('click', function () {
                    hideAll();
                    switch (index) {
                        case 0:
                            mobileChatContacts.style.display = 'block'; 
                            mobileContacts.style.display = 'none';
                            hideAll();
                            mobileChat.style.display = 'block';
                            if (currentChatContent) {
                                $('#chat').html(currentChatContent); // 저장된 chat 내용을 다시 표시
                            }
                            break;

                        case 1:
                            chatContent1.style.display = 'block';
                            mobileChatContacts.style.display = 'none'; // 듀얼 화면 해결

                            headerLeftIcon.addEventListener('click', function () {
                                mobileChatContacts.style.display = 'block';
                                mobileContacts.style.display = 'block';
                                hideAll();
                                headerLeftIcon.style.display = 'none';
                                headerRight.style.display = 'none';
                                backLeftSvg.style.display = 'block';
                            });
                            break;
                        case 2:
                            chatContent2.style.display = 'block';
                            mobileChatContacts.style.display = 'none'; // 듀얼 화면 해결

                            headerLeftIcon.addEventListener('click', function () {
                                mobileChatContacts.style.display = 'block';
                                mobileContacts.style.display = 'block';
                                hideAll();
                                headerLeftIcon.style.display = 'none';
                                headerRight.style.display = 'none';
                                backLeftSvg.style.display = 'block';
                            });
                            break;
                        case 3:
                            chatContent3.style.display = 'block';
                            mobileChatContacts.style.display = 'none'; // 듀얼 화면 해결

                            headerLeftIcon.addEventListener('click', function () {
                                mobileChatContacts.style.display = 'block';
                                mobileContacts.style.display = 'block';
                                hideAll();
                                headerLeftIcon.style.display = 'none';
                                headerRight.style.display = 'none';
                                backLeftSvg.style.display = 'block';
                            });
                            break;
                    }
                });
            });

            // header-left i 클릭 시 contacts로 전환
            headerLeftIcon.addEventListener('click', function () {
                mobileContacts.style.display = 'block';
                hideAll();
                headerLeftIcon.style.display = 'none';
                headerRight.style.display = 'none';
                backLeftSvg.style.display = 'block';
            });
        }
    });
</script>



<!-- 웹 환경일 때 -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const chats = document.querySelectorAll('.chat-content');
        const navItems = document.querySelectorAll('.nav-item');
        const nav = document.querySelector('.nav');
        const contacts = document.querySelector('.contacts');
        const headerLeftIcon = document.querySelector('.header-left i');
        const backLeftSvg = document.querySelector('.header-left button a');

        // Function to show the chat content based on index
        function showChat(index) {
            chats.forEach((chat, i) => {
                chat.classList.toggle('active', i === index);
            });
            localStorage.setItem('currentChat', index); // Save current chat index
        }

        // Retrieve the saved chat index from localStorage or default to 0
        let currentChat = localStorage.getItem('currentChat');
        if (currentChat === null) {
            currentChat = 0;
        } else {
            currentChat = parseInt(currentChat, 10);
        }

        const leftArrow = document.querySelector('.chat-arrow.left');
        const rightArrow = document.querySelector('.chat-arrow.right');

        leftArrow.addEventListener('click', () => {
            currentChat = (currentChat - 1 + chats.length) % chats.length;
            showChat(currentChat);
        });

        rightArrow.addEventListener('click', () => {
            currentChat = (currentChat + 1) % chats.length;
            showChat(currentChat);
        });

        showChat(currentChat); // Show the chat based on the stored index
    });
</script>



<script>
    document.getElementById('record-btn-2').addEventListener('click', function () {
        const inputElement = document.getElementById('user-content22');
        const recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition)();
        recognition.lang = 'ko-KR'; // 한국어로 설정
        recognition.interimResults = false; // 중간 결과는 표시하지 않음
        recognition.maxAlternatives = 1; // 하나의 대안만 제공

        // 녹음 시작 전에 알림창 표시
        alert("녹음을 시작합니다! 준비하세요.");
        recognition.start(); // 음성 인식 시작

        recognition.onresult = function (event) {
            const transcript = event.results[0][0].transcript;
            inputElement.value = transcript; // 인식된 내용을 input 요소에 표시
            console.log('Confidence:', event.results[0][0].confidence); // 신뢰도 출력
        };

        recognition.onerror = function (event) {
            alert(`오류 발생: ${event.error}`);
        };

        recognition.onspeechend = function () {
            recognition.stop(); // 음성 인식 종료
        };
    });
</script>


<script>
    document.getElementById('record-btn').addEventListener('click', function () {
        const inputElement = document.getElementById('user-content2');
        const recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition)();
        recognition.lang = 'ko-KR'; // 한국어로 설정
        recognition.interimResults = false; // 중간 결과는 표시하지 않음
        recognition.maxAlternatives = 1; // 하나의 대안만 제공

        // 녹음 시작 전에 알림창 표시
        alert("녹음을 시작합니다! 준비하세요.");
        recognition.start(); // 음성 인식 시작

        recognition.onresult = function (event) {
            const transcript = event.results[0][0].transcript;
            inputElement.value = transcript; // 인식된 내용을 input 요소에 표시
            console.log('Confidence:', event.results[0][0].confidence); // 신뢰도 출력
        };

        recognition.onerror = function (event) {
            alert(`오류 발생: ${event.error}`);
        };

        recognition.onspeechend = function () {
            recognition.stop(); // 음성 인식 종료
        };
    });
</script>
<script>
    let isTTSActive = true; // TTS 활성화 상태를 추적

    // TTS 음성 변환 함수
    function speakText(text) {
        if ('speechSynthesis' in window && isTTSActive) {
            const utterance = new SpeechSynthesisUtterance(text);
            utterance.lang = 'ko-KR'; // 언어를 설정합니다.

            // 음성의 속도 설정 (0.1에서 10까지의 값 가능)
            utterance.rate = 1.2;

            // 음성의 톤 설정 (0에서 2까지의 값 가능)
            utterance.pitch = 1.5;

            // 음성의 볼륨 설정 (0에서 1까지의 값 가능)
            utterance.volume = 1.0;

            speechSynthesis.speak(utterance);
        } else {
            console.warn('Speech synthesis not supported in this browser or TTS is disabled.');
        }
    }

    // TTS 음성을 중지하는 함수
    function stopSpeech() {
        if ('speechSynthesis' in window) {
            speechSynthesis.cancel();
        }
    }

    $(window).on('load', function () {

        function sendMessage2() {
            let userContent = $('#user-content22').val();
            let username = $('#chatphone').data('username');
            let charactername = $('#chatphone').data('charactername');

            if (userContent.trim() !== "") {
                $('#chatphone').append(
                    `<div class="chat-box-title">
                            <a></a>
                            <a style="margin-right: 15px;">${username}</a>
                        </div>
                        <p class="chat-message-me">${userContent}</p>`
                );
                $('#user-content22').val('');


                $.ajax({
                    type: 'POST',
                    url: `{% url 'chatbot:chatbot_user_create' pk=character.id %}`,
                    data: {
                        'user_content': userContent,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function () {
                        $.ajax({
                            type: 'POST',
                            url: `{% url 'chatbot:chatbot_ai_create' pk=character.id %}`,
                            data: {
                                'user_input': userContent,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            success: function (response) {
                                setTimeout(function () {
                                    $('.typing').remove();

                                    $('#chatphone').append(
                                        `<div class="chat-box-title">
                                                <a>${charactername}</a>
                                            </div>
                                            <p class="chat-message">${response.ai_content}</p>
                                            <div class="profile-picture">
                                                <img src="/media/joy.png" alt="">
                                            </div>`
                                    );

                                    // 스피치 버블 내용 업데이트
                                    $('.speech-bubble').text(`${response.ai_content}`);
                                    // 텍스트 음성 변환
                                    speakText(response.ai_content);

                                }, 2000);
                            }
                        });
                    }
                });
            }
        }

        $('#user-content22').on('keypress', function (event) {
            if (event.key === 'Enter') {
                sendMessage2();
            }
        });

        $('#send22').on('click', function (event) {
            event.preventDefault();
            sendMessage2();
        });
    });

    // 페이지 로드 및 이동 시 TTS 음성을 중지
    $(window).on('beforeunload', function () {
        stopSpeech();
    });

    $(window).on('load', function () {
        stopSpeech(); // 페이지 로드 시 TTS 중지
    });

    // 버튼 클릭 시 TTS 토글 기능
    $('#btn--toggle-mic').on('click', function () {
        isTTSActive = !isTTSActive; // TTS 활성화 상태 토글
        const icon = isTTSActive ? 'fa-volume-up' : 'fa-volume-mute';
        const color = isTTSActive ? '#FF3346' : '#666';

        // 아이콘과 색상 업데이트
        $('#btn--toggle-mic i').removeClass('fa-volume-up fa-volume-mute')
            .addClass(icon)
            .css('color', color);

        // TTS를 비활성화한 경우 음성을 중지
        if (!isTTSActive) {
            stopSpeech();
        }
    });
</script>
<script src="{% static '/js/chatbot/chatbot.js' %}"></script>
<audio id="audioPlayer" src="/media/lofi-music.mp3"></audio>
<script src="{% static '/js/chatbot/music.js' %}"></script>
<script>
document.querySelectorAll('.logout-btn').forEach(button => {
    button.addEventListener('click', function(event) {
        event.preventDefault();  // 기본 동작 막기
        
        const csrfToken = "{{ csrf_token }}";  // CSRF 토큰 가져오기 (Django 템플릿에서)
        const logoutUrl = "{% url 'users:logout' %}";  // 로그아웃 URL 가져오기

        fetch(logoutUrl, {
            method: 'POST',  // POST 방식으로 요청
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken  // CSRF 토큰을 헤더에 포함
            },
            body: JSON.stringify({})  // 필요한 경우 데이터를 여기에 추가
        })
        .then(response => {
            if (response.ok) {
                window.location.href = "/";  // 로그아웃 성공 시 리디렉션할 페이지 설정
            } else {
                console.error('로그아웃 실패');
            }
        })
        .catch(error => console.error('에러 발생:', error));
    });
});
</script>
<script>  
    ///////////////////////////////////////////// 추가된 부분 
    // 감성적인 문구 목록 
    const emotionalPhrases = [
        "모든 순간이 다 찬란한 것은 아니지만, 그렇기에 더 아름답다.",
        "구름 뒤엔 언제나 태양이 있다.",
        "오늘도 너에게 다정한 하루가 되기를.",
        "작은 것들이 쌓여 큰 행복이 된다.",
        "하루의 끝, 너는 참 잘해냈다.",
        "따뜻한 마음이 세상을 바꿀 수 있다.",
        "지금 이 순간이 너의 이야기가 된다.",
        "희망은 어둠 속에서 빛나는 별과 같다.",
        "너의 꿈은 너를 향한 길을 찾을 것이다.",
        "한 걸음 한 걸음이 모두의 마음에 닿는다.",
        "언젠가 이 모든 것이 네게 의미 있는 추억이 될 거야.",
        "가장 깊은 어둠 뒤에 가장 밝은 빛이 있다.",
        "오늘의 너는 어제보다 더 나은 너일 것이다.",
        "너의 미소는 모든 것을 밝힐 수 있다.",
        "때론 멈추어 서는 것도 하나의 용기이다.",
        "이 순간을 사랑하라, 이것이 너의 이야기이다.",
        "힘들면 잠시 쉬어가도 괜찮아.",
        "너는 너의 길을 찾아갈 것이다.",
        "바람이 강할수록 나무는 더 깊게 뿌리를 내린다.",
        "너의 오늘이 내일의 너를 빛나게 할 것이다.",
        "작은 친절이 큰 기적을 만들 수 있다.",
        "오늘도 너의 빛이 누군가의 어둠을 밝힐 거야.",
        "무지개는 비 뒤에 나타난다.",
        "네가 선택한 길이 너를 더 강하게 만들 거야.",
        "마음의 따뜻함은 차가운 세상도 녹일 수 있다.",
        "네가 믿는 만큼 꿈은 현실이 된다.",
        "작은 승리들이 모여 큰 성취를 이룬다.",
        "지금의 노력은 네 미래의 빛이 될 것이다.",
        "시간이 지나면 오늘의 어려움도 지나간다.",
        "매일 조금씩 나아가는 것이 중요하다.",
        "네가 가는 길이 언제나 옳다.",
        "어제의 실수가 오늘의 교훈이 된다.",
        "내일의 태양은 더 밝게 빛날 것이다.",
        "너의 열정은 끝없는 가능성을 만든다.",
        "희망은 언제나 네 안에 있다.",
        "네가 하는 모든 일이 의미가 있다.",
        "가장 큰 용기는 자신을 믿는 것이다.",
        "너의 따뜻한 마음이 세상을 더 아름답게 만든다."
    ];
  
    // 랜덤으로 문구 선택하는 함수
    function getRandomPhrase() {
        const randomIndex = Math.floor(Math.random() * emotionalPhrases.length);
        return emotionalPhrases[randomIndex];
    }
  
    // 문구를 페이지에 표시하는 함수
    function displayRandomPhrase() {
        const phraseElement = document.getElementById('emotional-phrase');
        if (phraseElement) {
            phraseElement.textContent = getRandomPhrase();
        }
    }
  
    // 페이지 로드 시 문구 표시
    document.addEventListener('DOMContentLoaded', () => {
        displayRandomPhrase();
        // 5초마다 문구 변경
        setInterval(displayRandomPhrase, 10000);
    });
</script>  
<!-- ------------------------여기까지 추가된 부분-------------------------- -->
</body>

</html>