{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeelBuddy</title>
    <link rel="icon" href="/media/joy.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/emotion/log.css' %}">
</head>
<body>
    <article>
        <div>
            <h1>Emotion Tracker</h1>
            <p>각 캐릭터와의 일주일 간의 대화량을 보여줍니다.</p>
        </div>
        <button hidden>Show details</button>

        <ul>
            {% for emotion, count in weekly_emotion_counts.items %}
            <li style="--steps: {{ count }}" tabindex="0" aria-label="{{ emotion }}: {{ count }} steps" data-emotion="{{ emotion }}">
                <b>{{ emotion }}</b>
                <div>{{ count }}</div>
            </li>
            {% endfor %}
        </ul>
        <button hidden tabindex="-1">Hide details</button>
        <script src="{% static 'js/chatbot/log.js' %}"></script>
    </article>
<script>
document.querySelectorAll('.logout-btn').forEach(button => {
    button.addEventListener('click', function(event) {
        event.preventDefault();  // 기본 동작 막기
        
        const csrfToken = "{{ csrf_token }}";  // CSRF 토큰 가져오기 (Django 템플릿에서)
        const logoutUrl = "{% url 'users:logout' %}";  // 로그아웃 URL 가져오기

        fetch(logoutUrl, {
            method: 'POST',  // POST 방식으로 요청
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken  // CSRF 토큰을 헤더에 포함
            },
            body: JSON.stringify({})  // 필요한 경우 데이터를 여기에 추가
        })
        .then(response => {
            if (response.ok) {
                window.location.href = "/";  // 로그아웃 성공 시 리디렉션할 페이지 설정
            } else {
                console.error('로그아웃 실패');
            }
        })
        .catch(error => console.error('에러 발생:', error));
    });
});
</script>
</body>

</html>
