{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Falling Ingredients Sandwich</title>
 <link rel="stylesheet" href="{% static '/css/character/character_list.css' %}">
</head>
<body>
    <div class="ground"></div>

    <button id="createButton">Create</button>
    <button id="deleteButton">Delete</button> 

    
    <div class="character-main" id="characterMain">
        <div class="character-scene">
                <div class="table1 hidden">
                    <div class="table-top">
                        <div class="top-slider">
                            <div class="shadow-character"></div>
                        </div>
                    </div>
                    <div class="table-bottom"></div>
                    <div class="table-left"></div>
                    <div class="table-right"></div>
                    <div class="table-front"></div>
                    <div class="table-back"></div>
                </div>
                <div class="charfall hidden">
                    <img src="/media/joy.png" alt="" class="">
                </div>
        </div>
        <div class="character-scene">
            <!-- <div class="ground"></div> -->
        
                <div class="table2 hidden">
                    <div class="table-top">
                        <div class="top-slider">
                            <div class="shadow-character"></div> 
                        </div>
                    </div>
                    <div class="table-bottom"></div>
                    <div class="table-left"></div>
                    <div class="table-right"></div>
                    <div class="table-front"></div>
                    <div class="table-back"></div>
                </div>
                <div class="charfall hidden">
                    <img src="/media/fear.png" alt="" class="">
                </div>
        </div>
        <div class="character-scene">
            <div class="table3 hidden">
                <div class="table-top">
                    <div class="top-slider">
                        <div class="shadow-character"></div>
                    </div>
                </div>
                <div class="table-bottom"></div>
                <div class="table-left"></div>
                <div class="table-right"></div>
                <div class="table-front"></div>
                <div class="table-back"></div>
            </div>
            <div class="charfall hidden">
                <img src="/media/anger.png" alt="" class="">
            </div>
        </div>
        <div class="character-scene">
            <div class="table4 hidden">
                <div class="table-top">
                    <div class="top-slider">
                        <div class="shadow-character"></div>
                    </div>
                </div>
                <div class="table-bottom"></div>
                <div class="table-left"></div>
                <div class="table-right"></div>
                <div class="table-front"></div>
                <div class="table-back"></div>
            </div>
            <div class="charfall hidden">
                <img src="/media/anxiety.png" alt="" class="">
            </div>
        </div>
        <div class="character-scene">
            <div class="table5 hidden">
                <div class="table-top">
                    <div class="top-slider">
                        <div class="shadow-character"></div>
                    </div>
                </div>
                <div class="table-bottom"></div>
                <div class="table-left"></div>
                <div class="table-right"></div>
                <div class="table-front"></div>
                <div class="table-back"></div>
            </div>
            <div class="charfall hidden">
                <img src="/media/sad.png" alt="" class="">
            </div>
        </div>

    </div>
    <script src="sandwitch.js"></script>
</body>
</html>