*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    text-transform: uppercase;
    box-sizing: inherit;
    font-size: 10.5px;
    letter-spacing: 1px;
    text-shadow: 0 0 2px rgba(0, 0, 0, .5),
        -1px -1px 1px rgba(179, 179, 179, .5),
        1px 1px 0 rgba(255, 255, 255, 0.55),
        0 1px 3px white;
    overflow: hidden;
    color: #191919;
    /* background-color: azure; */
    background-color: azure;
}

#profile-btn {
    display: block;
    position: relative;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
    text-shadow: inherit;
    cursor: pointer;
    outline: inherit;
    z-index: 10;
}

.profile-card {
    /* background-color: #f4f1eb;
  background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png"); */
    height: 280px;
    /* 2/3 크기 조정 */
    width: 490px;
    /* 2/3 크기 조정 */
    margin: 20vh auto 0 auto;
    padding: 13.33px 6.67px 6.67px 6.67px;
    /* 2/3 크기 조정 */
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
    box-shadow: 0;
    transition: transform .4s ease, box-shadow .4s ease;
    display: flex;
    flex-direction: row;
}

.profile-card:hover {
    cursor: pointer;
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) translateZ(10px);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, .4);
}

.profile-card:focus {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(10px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .4);
}

.profile-card:focus::before {
    transform: skewX(0deg) translateX(0px) translateY(0px);
    height: 0px;
}

.profile-card:focus::after {
    transform: skewY(0deg) translateX(0px) translateY(0px);
    width: 0px;
}

.profile-card::before,
.profile-card::after {
    content: "";
    position: absolute;
    display: block;
    /* background-color: grey; */
    transition: transform .4s ease, height .4s ease, width .4s ease;
}

.profile-card::before {
    width: 100%;
    height: 4px;
    /* 2/3 크기 조정 */
    bottom: 0;
    left: 0;
    transform: skewX(45deg) translateX(-2px) translateY(4px);
    /* 2/3 크기 조정 */
}

.profile-card::after {
    height: 100%;
    width: 4px;
    /* 2/3 크기 조정 */
    top: 0;
    right: 0;
    transform: skewY(45deg) translateX(4px) translateY(-2px);
    /* 2/3 크기 조정 */
}

.profile-left {
    position: relative;
    width: 40%;
    height: 100%;
    /* background-color: azure; */
    /* background:  rgba(206, 13, 13, 0.1); */
    background: rgb(248, 236, 249);
    /* background-color: #1A1C40; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-right-list {
    width: 100%;
    height: 15%;
    position: relative;
    background: #d2c9f5;
}

.user-image {
    margin: auto;
    margin-top: 20px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 3px solid #1A1C40;
    background-color: white;
    overflow: hidden;
}


.user-name {
    margin: 0;
    margin-top: 20px;
    text-align: center;
    color: #1A1C40;
}


/* 편지지 이메일 추가 */
.profile-email {
    position: relative;
    width: 100%;
    /* 2/3 크기 조정 */
    height: 85%;
    /* 2/3 크기 조정 */
}

#profile-email-bg {
    position: absolute;
    left: -50%;
    top: -50%;
    height: 100%;
    width: 100%;
}

.profile-contact {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -83.33px;
    /* 2/3 크기 조정 */
    margin-top: -83.33px;
    /* 2/3 크기 조정 */
    height: 166.67px;
    /* 2/3 크기 조정 */
    width: 166.67px;
    /* 2/3 크기 조정 */
    background: rgba(206, 13, 13, 0.1);
    border-radius: 20px;

}

.profile-contact .profile-envelope {
    position: absolute;
    height: 62px;
    /* 2/3 크기 조정 */
    width: 110px;
    /* 2/3 크기 조정 */
    left: 50%;
    margin-left: -55px;
    /* 2/3 크기 조정 */
    top: 50%;
    margin-top: -33.33px;
    /* 2/3 크기 조정 */
    background: #F9F9F9;
    transition: margin-top 300ms;
}

.profile-contact:hover .profile-envelope {
    transition-delay: 150ms;
    margin-top: -13.33px;
    /* 2/3 크기 조정 */
}

.profile-contact .profile-envelope .email-top {
    position: absolute;
    top: -2px;
    /* 2/3 크기 조정 */
    left: 0px;
    width: 100%;
    height: 48.67px;
    /* 2/3 크기 조정 */
    z-index: 30;
    overflow: hidden;
    transform-origin: top;
    transition: transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
}

.profile-contact:hover .profile-envelope .email-top {
    transition: transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
    height: 6.67px;
    /* 2/3 크기 조정 */
    top: -40px;
    /* 2/3 크기 조정 */
    transform: rotateX(180deg);
}

.profile-contact .profile-envelope .email-outer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-left: 55.33px solid transparent;
    /* 2/3 크기 조정 */
    border-right: 54.67px solid transparent;
    /* 2/3 크기 조정 */
    border-top: 46.67px solid #EEE;
    /* 2/3 크기 조정 */
}

.profile-contact .profile-envelope .email-outer .email-inner {
    position: absolute;
    left: -54px;
    /* 2/3 크기 조정 */
    top: -48.67px;
    /* 2/3 크기 조정 */
    border-left: 54px solid transparent;
    /* 2/3 크기 조정 */
    border-right: 53.33px solid transparent;
    /* 2/3 크기 조정 */
    border-top: 45.33px solid #333;
    /* 2/3 크기 조정 */
}

.profile-contact .profile-envelope .email-bottom {
    position: absolute;
    z-index: 20;
    bottom: 0px;
    left: 1.33px;
    /* 2/3 크기 조정 */
    border-left: 54px solid transparent;
    /* 2/3 크기 조정 */
    border-right: 53.33px solid transparent;
    /* 2/3 크기 조정 */
    border-bottom: 30px solid #333;
    /* 2/3 크기 조정 */
}

.profile-contact .profile-envelope .email-left {
    position: absolute;
    z-index: 20;
    top: 0px;
    left: 0px;
    border-left: 54px solid #333;
    /* 2/3 크기 조정 */
    border-top: 30px solid transparent;
    /* 2/3 크기 조정 */
    border-bottom: 30px solid transparent;
    /* 2/3 크기 조정 */
}

.profile-contact .profile-envelope .email-right {
    position: absolute;
    z-index: 20;
    top: 0px;
    right: 0px;
    border-right: 53.33px solid #333;
    /* 2/3 크기 조정 */
    border-top: 30px solid transparent;
    /* 2/3 크기 조정 */
    border-bottom: 30px solid transparent;
    /* 2/3 크기 조정 */
}

.profile-contact .profile-envelope .email-cover {
    position: absolute;
    z-index: 15;
    bottom: 0px;
    left: 0px;
    height: 36.67%;
    /* 2/3 크기 조정 */
    width: 100%;
    background: #EEE;
}

.profile-contact .profile-envelope .email-paper {
    position: absolute;
    height: 55.33px;
    /* 2/3 크기 조정 */
    padding-top: 6.67px;
    /* 2/3 크기 조정 */
    width: 100%;
    top: 0px;
    left: 0px;
    background: #F9F9F9;
    z-index: 10;
    transition: margin-top 300ms 0ms;
}

.profile-contact:hover .profile-envelope .email-paper {
    margin-top: -40px;
    /* 2/3 크기 조정 */
    transition: margin-top 300ms 150ms;
}

.profile-contact .profile-envelope .email-paper a {
    position: relative;
    display: block;
    font-size: 9.33px;
    /* 2/3 크기 조정 */
    margin: 3.33px;
    /* 2/3 크기 조정 */
    margin-bottom: 0px;
    text-align: center;
    color: #333;
    text-decoration: none;
}



.profile-contact .profile-envelope .email-paper a.mail .i {
    position: absolute;
    top: 0px;
    left: 11.33px;
    /* 2/3 크기 조정 */
    display: inline-block;
    font-size: 8.67px;
    /* 2/3 크기 조정 */
    font-weight: bold;
}


/* 하단 리스트 */

.profile-right-list ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.profile-right-list ul li {
    text-align: center;
    font-family: Exo;
    font-size: 14px;
    color: white;
    list-style-type: none;
    display: inline-block;
    float: left;
    width: 100%;
    height: 100%;
    border-right: solid 3px rgba(255, 255, 255, .2);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-right-list ul li:last-child {
    border-right: none;
}

.profile-right-list ul li span.icon {
    display: block;
    margin-top: 25px;
    color: white;
    font-size: 12px;
    line-height: 100%;
}