

  .contact-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .flip-card {
    border-radius: 0.5em;
    position: fixed;
    top: 1em;
    left: 1em;
    width: 5em;
    padding: 0.5em;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    z-index: 9;
  }

  .envelope-button {
    position: fixed;
    width: 100%;
    top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #envelope-send-button{
    border-radius: 0.5em;
    position: relative;
    width: 5em;
    padding: 0.5em;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    z-index: 9;
  }
  #envelope-send-button:hover {
    background-color: #c6dbe4;
    color: #373434;
  }
  .envelope {
    position: relative;
    display: block;
    width: 30em;
    height: 35em;
    margin: 0 auto;
  }

  .envelope.active .envelope-content {
    padding: 15em 2em 2em;
  }

  .envelope.active .envelope-paper.envelope-front,
  .envelope.active .envelope-paper.envelope-back {
    animation-duration: 1.5s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  .envelope.active .envelope-paper.envelope-front {
    animation-name: envelope-front;
  }

  .envelope.active .envelope-paper.envelope-back {
    animation-name: envelope-back;
  }

  .envelope.active .envelope-paper.envelope-back:before {
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1.25s;
    animation-name: envelope-back-before;
  }

  .envelope.active .bottom-wrapper {
    transform: rotateX(180deg);
  }

  .envelope.active .bottom-wrapper:after {
    z-index: 0;
    opacity: 1;
  }

  .envelope-content {
    padding: 2em;
    box-sizing: border-box;
    position: relative;
    z-index: 9;
    transition: all 0.5s ease-in-out;
    transition-delay: 1s;
  }

  .top-wrapper,
  .bottom-wrapper {
    box-sizing: border-box;
    background: #c6dbe4;
    color: #fff;
  }

  .top-wrapper {
    padding: 2em 2em 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }

  .top-wrapper-character {
    width: auto;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-wrapper-character img {
    width: auto;
    height: 100%;
  }

  .bottom-wrapper {
    padding: 0 2em 2em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    transition: all 0.5s ease-in-out;
    transform-origin: top;
    transform-style: preserve-3d;
    position: relative;
    overflow: hidden;
    margin-top: -1px;
  }

  .bottom-wrapper:after {
    position: absolute;
    content: '';
    display: block;
    opacity: 0;
    background: #c6dbe4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  form label {
    display: block;
    padding-bottom: 0.5em;
    color: #373434;
  }

  form input,
  form textarea {
    width: 100%;
    box-shadow: 0;
    background: transparent;
    color: #373434;
    padding: 0.5rem;
  }

  form input {
    border-width: 0 0 0.1em;
    border-color: #fff;
    border-style: solid;
  }

  form textarea {
    border: 0.1em solid #fff;
    border-radius: 0.25em;
  }

  input[type="text"]::placeholder {
    color: darkgray;
    font-size: 12px;
  }
  textarea::placeholder{
    color: darkgray;
    font-size: 12px;
  }
  .submit-card {
    background: #fff;
    color: #222;
    text-align: center;
    padding: 0.5em;
    box-sizing: border-box;
    background: #fff;
    width: 100%;
    border: 0;
    box-shadow: none;
    border-radius: 0.25em;
    cursor: pointer;
  }

  .envelope-input {
    padding-bottom: 1em;
  }

  .envelope-paper {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    overflow: hidden;
  }

  .envelope-paper.envelope-back {
    top: 0;
  }

  .envelope-paper.envelope-back:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -1px;
    border-style: solid;
    border-width: 0 15em 10em 15em;
    border-color: transparent transparent #d3d3d3 transparent;
    transform-origin: bottom;
    transform-style: preserve-3d;
    z-index: 0;
  }

  .envelope-paper.envelope-back:after {
    content: '';
    display: block;
    background-color: #d3d3d3;
    width: 30em;
    height: 20em;
  }

  .envelope-paper.envelope-front {
    top: 10em;
    box-shadow: 0.1em 0.5em 0.5em rgba(0, 0, 0, 0.25);
    z-index: 0;
  }

  .envelope-paper.envelope-front:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10em 15em 0 15em;
    border-color: transparent #fff;
  }

  .envelope-paper.envelope-front:after {
    content: '';
    display: block;
    width: 30em;
    height: 10em;
    background: #fff;
    margin-top: -1px;
  }

  @keyframes envelope-front {
    0% {
      top: 10em;
      z-index: 0;
    }

    50% {
      top: 15em;
      z-index: 9;
    }

    100% {
      top: 10em;
      z-index: 9;
    }
  }

  @keyframes envelope-back {
    0% {
      top: 0;
    }

    50% {
      top: 5em;
    }

    100% {
      top: 0;
    }
  }

  @keyframes envelope-back-before {
    0% {
      border-color: transparent transparent #d3d3d3 transparent;
      transform: rotateX(0deg);
      z-index: 0;
    }

    100% {
      border-color: transparent transparent #fff transparent;
      transform: rotateX(180deg);
      z-index: 99;
      position: relative;
    }
  }