{% load static %}
<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <title>FeelBuddy</title>
    <link rel="icon" href="/media/joy.png" type="image/png">
    <link rel="stylesheet" href="{% static '/css/user/pw_reset.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
<div class="main">
    <div class="container">
        {% block content %}
        <h2 class="form_title title title-black">비밀번호 재설정 완료</h2>
        <p>비밀번호가 성공적으로 재설정되었습니다. <br>이제 <a href="{% url 'users:login' %}">로그인</a>할 수 있습니다.</p>
        {% endblock %}
    </div>
</div>
</body>
</html>
