{% load static %}
<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static '/css/user/pw_reset.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
<div class="main">
    <div class="container">
        {% block content %}
        <h2 class="form_title title title-black">새 비밀번호 설정</h2>
        <form method="post">
            {% csrf_token %}
            <label for="new_password1">새 비밀번호:</label>
            <input class="form__input" type="password" id="new_password1" name="new_password1" required><br><br>

            <label for="new_password2">새 비밀번호 확인:</label>
            <input class="form__input" type="password" id="new_password2" name="new_password2" required><br><br>

            <button class="button" type="submit">다음</button>
        </form>

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        {% endblock %}
    </div>
</div>
</body>
</html>
