{% load static %}
<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <title>FeelBuddy</title>
    <link rel="icon" href="/media/joy.png" type="image/png">
    <link rel="stylesheet" href="{% static '/css/user/pw_reset.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
<div class="main">
    <div class="container">
        {% block content %}
        <h2 class="form_title title title-black">비밀번호 재설정 요청 완료</h2>
        <p>입력하신 이메일 주소로 비밀번호 재설정 메일을 발송했습니다. 메일함을 확인하여 비밀번호를 재설정해 주세요.</p>
        {% endblock %}
    </div>
</div>
</body>
</html>
