{% load static %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static '/css/user/pw_reset.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
<link rel="stylesheet" href="{% static '/css/user/login.css' %}">
<div class="main">
  <div class="container a-container">
    <form class="form" method="post">
      {% csrf_token %}
      
      {% if step == 1 %}
      <h2 class="title">비밀번호 찾기</h2>
      <h3 class="description">비밀번호를 찾고자 하는 아이디를 입력해주세요.</h3>
      <input class="form__input" type="text" id="username" name="username" placeholder="아이디" required>
      <button class="button" type="submit">다음</button>

      {% elif step == 2 %}
      <h2 class="title">이메일 확인</h2>
      <h3 class="description">회원정보에 등록한 이메일을 입력해주세요.</h3>
      <input class="form__input" type="email" id="email" name="email" placeholder="이메일" required>
      <button class="button" type="submit">다음</button>

      {% endif %}

      {% if error %}
      <p style="color: red;">{{ error }}</p>
      {% endif %}
    </form>
  </div>
</div>

