{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <a href="{% url 'users:signup' %}">회원가입</a>
        <a href="{% url 'users:login' %}">로그인</a>
        <a href="{% url 'users:logout' %}">로그아웃</a>
        <a href="{% provider_login_url 'google' %}"><p>login with Google</p></a>
        <a href="{% url 'feedback:feedback_list' %}">피드백페이지로 이동</a>
    </div>
    <div>
        {% csrf_token %}
        {% if user.is_authenticated %}
            <p>{{ user.name }}님이 로그인 중</p>
        {% endif %}
    </div>

</body>
</html>