{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <a href="{% url 'users:signup' %}">회원가입</a>
        <a href="{% url 'users:login' %}">로그인</a>
        <a href="{% url 'users:logout' %}">로그아웃</a>
        <a href="{% url 'google_login' %}"><p>login with Google</p></a>
        <a href="{% provider_login_url 'naver' %}"><p>login with Naver</p></a>
        <a href="{% provider_login_url 'kakao' %}"><p>login with Kakao</p></a>

        <a href="{% url 'feedback:feedback_list' %}">피드백페이지로 이동</a>
    </div>
    <div>
        {% csrf_token %}
        {% if user.is_authenticated %}
            <p>
                <a href="{% url 'users:profile' %}">
                    {% if user.profile.nickname %}
                        {{ user.profile.nickname }}
                    {% else %}
                        익명
                    {% endif %}
                </a>님이 로그인 중
            </p>
        {% endif %}
    </div>

</body>
</html>
